<div class="banner shadow" id="alpha-version-banner">
    <p class="banner-text">VocPopuli is in <span class="banner-badge">Alpha</span> testing phase. Learn more or reach out to us via <a class="banner-link" href="https://gitlab.com/metacook/vocpopuli" target="_blank">GitLab</a>. </p>
    <i class="bi bi-x close banner-x" id="alpha-version-banner-x"></i>
</div>