{% import "components/navbar/_nav_item.html" as _nav_item %}

<nav class="navbar navbar-expand-lg navbar-light navbar_bank" id="navbar" role="navigation" style="color: #0949AD;">
    <div class="container-fluid collapse">
        {% include "components/navbar/_logo.html" %}
        {% include "components/navbar/_toggler.html" %}

        {% if session.get('PROJECT_ID') %}
            <div class="collapse navbar-collapse justify-content-between navbar_bank" id="navbarSupportedContent">

                <ul class="navbar-nav">

                    <li class="nav-item dropdown link_nav_bar">
                        <a class="nav-link nav-bar-bank-shadow" role="button" href={{ url_for("main.list_terms") }} value="Back to Vocabulary">Back to Vocabulary</a>
                    </li>

                    <li class="nav-item dropdown link_nav_bar">
                        <a class="nav-link" href={{ url_for("main.explore_bank") }} value="Explore Bank">Explore Bank</a>
                    </li>

                    <li class="nav-item dropdown link_nav_bar">
                        <a class="nav-link" href={{ url_for("main.export_to_bank") }} value="Export Vocabulary To Bank">Export Vocabulary To Bank</a>
                    </li>

                </ul>
            
            <div class="move_toggler" style="display:none;">
            </div>
        </div>
        {% else %}
            <div class="collapse navbar-collapse justify-content-between navbar_bank" id="navbarSupportedContent">

                <ul class="navbar-nav">

                    <li class="nav-item dropdown link_nav_bar">
                        <a class="nav-link nav-bar-bank-shadow" role="button" href={{ url_for("main.list_terms") }} value="Back to Vocabulary">Back to Vocabulary</a>
                    </li>

                    <li class="nav-item dropdown link_nav_bar">
                        <a class="nav-link" href={{ url_for("main.explore_bank") }} value="Explore Bank">Explore Bank</a>
                    </li>

                    <li class="nav-item dropdown link_nav_bar">
                        <a class="nav-link disabled" href={{ url_for("main.export_to_bank") }} value="Export Vocabulary To Bank">Export Vocabulary To Bank</a>
                    </li>

                </ul>
            
            <div class="move_toggler" style="display:none;">
            </div>
        </div>
        {% endif %}
    </div>
</nav>