{% import "components/navbar/_nav_item.html" as _nav_item %}

<nav class="navbar navbar-expand-lg navbar-light" id="navbar" role="navigation">
    <div class="container-fluid collapse">
        {% include "components/navbar/_logo.html" %}
        {% include "components/navbar/_toggler.html" %}

        {% if session.get('PROJECT_ID') %}
            <div class="collapse navbar-collapse justify-content-between" id="navbarSupportedContent">

                <ul class="navbar-nav">

                    <li class="nav-item dropdown link_nav_bar">
                        <a class="nav-link" role="button" href={{ url_for("main.list_terms") }} value="Terms">Terms</a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href={{ url_for("main.list_terms") }} value="List Terms">List Terms</a></li>
                            <li><a class="dropdown-item" href={{ url_for("main.archived_terms") }} value="Archived Terms">Archived Terms</a></li>
                        </ul>
                    </li>

                    <li class="nav-item dropdown link_nav_bar">
                        <a class="nav-link" role="button" href="#" data-bs-toggle="dropdown" value="Types">Types</a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href={{ url_for("main.relationship_types") }} value="Relationship Types">Relationship Types</a></li>
                            <li><a class="dropdown-item" href={{ url_for("main.vocpopuli_types") }} value="VocPopuli Types">VocPopuli Types</a></li>
                            <li><a class="dropdown-item" href={{ url_for("main.data_types") }} value="Data Types">Data Types</a></li>
                        </ul>
                    </li>
    
                    <li class="nav-item dropdown link_nav_bar">
                        <a class="nav-link" role="button" href="#" data-bs-toggle="dropdown" value="Vocabularies">Vocabularies</a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href={{ url_for("main.request_vocabulary") }} value="Request">Request</a></li>
                            <li><a class="dropdown-item" href={{ url_for("main.import_vocabulary") }} value="Create">Create</a></li>
                            <li data-bs-toggle="tooltip" data-bs-placement="right" data-bs-custom-class="custom-tooltip" data-bs-title="This will be available at the beginning of November."><a class="dropdown-item disabled" href={{ url_for("main.import_existing_vocabulary") }} value="GitLab Import">GitLab Import</a></li>
                            <li><a class="dropdown-item" href={{ url_for("main.vocabulary_metadata") }} value="View Metadata">View Metadata</a></li>
                        </ul>
                    </li>

                    <li class="nav-item dropdown link_nav_bar">
                        <a class="nav-link" href="#" role="button" data-bs-toggle="dropdown" value="Export">Export</a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href={{ url_for("main.kadi_export") }} value="Export Kadi4Mat Template">Kadi4Mat Template</a></li>
                            <li data-bs-toggle="tooltip" data-bs-placement="right" data-bs-custom-class="custom-tooltip" data-bs-title="This will be available at the beginning of November."><a class="dropdown-item disabled" href={{ url_for("main.publish_vocabulary") }} value="Publish Vocabulary">Publish Vocabulary (SKOS)</a></li>
                        </ul>
                    </li>
                    {{ _nav_item.nav_item(url_for("main.user_settings") , "User") }}
                    
                    <li class="nav-item dropdown link_nav_bar">
                        <div data-bs-toggle="tooltip" data-bs-placement="bottom" data-html="true" data-bs-custom-class="custom-tooltip navbar-tooltip" data-bs-title="Get in touch with us at nikolay.garabedian@kit.edu">
                            <a class="nav-link nav-bar-shadow disabled" href={{ url_for("main.explore_bank") }} role="button" value="Bank">Bank</a>
                        </div>
                    </li>
                </ul>
            
            <div align="right" style="align-items: center; display: flex;">
                {% include "components/navbar/_last_activity.html" %}
                {% include "components/navbar/_choose_project_form.html" %}
            </div>
            <div class="move_toggler" style="display:none;">
            </div>
        </div>
        {% else %}
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav">
                    {{ _nav_item.nav_item(url_for("main.list_terms"), "Terms", disabled=True) }}
                    {{ _nav_item.nav_item("#", "Types", disabled=True) }}
                    <li class="nav-item dropdown">
                        <a class="nav-link" role="button" href="#" data-bs-toggle="dropdown" value="Vocabularies">Vocabularies</a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href={{ url_for("main.request_vocabulary") }} value="Request">Request</a></li>
                            <li><a class="dropdown-item" href={{ url_for("main.import_vocabulary") }} value="Create">Create</a></li>
                            <li><a class="dropdown-item" href={{ url_for("main.import_existing_vocabulary") }} value="GitLab Import">GitLab Import</a></li>
                            <li><a class="dropdown-item" href={{ url_for("main.explore_bank") }} value="Import From Bank">Import From Bank</a></li>
                        </ul>
                    </li>
                    {{ _nav_item.nav_item(url_for("main.kadi_export"), "Export", disabled=True) }}
                    <li class="nav-item dropdown link_nav_bar">
                        <a class="nav-link nav-bar-shadow" href={{ url_for("main.explore_bank") }} role="button" value="Bank">Bank</a>
                    </li>
                </ul>
            </div>
        {% endif %}
    </div>
</nav>
