<div class="sidebar">
  <div id="dragholder"></div>
  <ul id="tree1" class="tree-list tree" style="margin-top: 0px !important; padding-left: 5px;">
    {% for vocpopuli_type in vocpopuli_types %}
      <span class="badge rounded-top" style="vertical-align: middle; background-color: {{ vocpopuli_type.color }};">{{
        vocpopuli_type.name }}</span>
      <hr class="no-padding">
      {% for item in tree_dict.get(vocpopuli_type['name'], {'children':[]})['children'] recursive %}
        {% if item['vocpopuli_type'] == 'detached' or item['datatype'] != 'individual' and item['datatype'] != 'option' %}
          <li class="{{ item['name']|replace(' ', '-') }}">
            <div>
              {% if item['children'] %}
                <!-- target collapsible child term list has id="collapse" + term_version_id, to make each separately collapsible -->
                <a class="btn-sm item-collapsed" type="button" data-bs-toggle="collapse" data-bs-target={{"#collapse" ~
                  item['id_t_version'] }} aria-expanded="false">
                  <i class='bi bi-chevron-right collapsed'></i>
                  <i class='bi bi-chevron-down expanded'></i>
                </a>
              {% else %}
                <a class="btn-sm" type="button">
                  <i class="bi bi-plus-square-dotted" style ="opacity: 0;"></i>
                </a>
              {% endif %}
              <a class="term-name" href={{ url_for("main.view_term", term_version_id=item['id_t_version']) }}>{{ item['name'] }}</a>
            </div>
            {% set var = {'last': False} %}
            {% if item['children'] %}
              {% for child in item['children'] %}
                {% if child['datatype'] == 'individual' or child['datatype'] == 'option' %}
                  {% if var.update({'last': True}) %}{% endif %}
                {% endif %}
              {% endfor %}
              {% if var.last == True %}
                <ul class="list-group list-group-flush bg-transparent collapse" id={{ "collapse" ~ item['id']}}>
                  <li class="individual">
                    <div class="individual-terms">
                      {% for child in item['children'] %}
                        {% if child['datatype'] == 'individual' or child['datatype'] == 'option' %}
                          <span class="individual-term" style="display:none;">
                            <a class="term-name {{child['id_t_version']}}" href={{ url_for("main.view_term", term_version_id=child['id_t_version']) }}>{{ child['name']
                            }}</a>
                            {% if not loop.last %},&nbsp{% endif %}
                          </span>
                        {% endif %}
                      {% endfor %}
                      {% if item['children']|length >= 6 %}<span class="show">...show more</span>{% endif %}
                    </div>
                  </li>
                </ul>
              {% endif %}
              <ul class="list-group list-group-flush bg-transparent collapse" id={{ "collapse" ~ item['id_t_version']}}>
                {{ loop(item['children']) }}
              </ul>
            {% endif %}
          </li>
        {% endif %}
      {% endfor %}
    {% endfor %}
  </ul>
</div>
