<div id="timeoutModal" class="modal">
    <div class="modal-content">
        <div class="modal-header">
        <p>Login Timeout</p>
        <i class="bi bi-x close" id="timeout-x"></i>
        </div>
        <div class="modal-body">
        <p>Current login session is invalid.</p>
        <p>Please click on the button to login again. <strong>All unsaved input will otherwise be lost.</strong></p>
        <a class="btn btn-colour" href={{url_for("gitlab.login")}} target="_blank">Login with Gitlab</a>
        </div>
    </div>
</div>