{%- macro btn(id) %}
    <button
        class="btn btn-outline-secondary copy-button"
        type="button"
        id="{{ id }}"
        {# onclick="copy('{{term_version['purl']}}', 'copy-button-global2')" #}
    ><i class="bi bi-clipboard"></i><div class='tip copied-tip'>Copied!</div></button>
{%- endmacro %}