{%- macro relationship_form(subform, index) %}
  <div id="custom_relationships-{{ index }}-form" class="relationship-form" {% if index=="_" %}style="display: none;" {%
    endif %}>
    <div class="row gy-5" style="margin-bottom: 10px;">
      <div class="col-md-4">
    {{ subform.type_(class_='form-select') }}
     </div>  
     <div class="col-md-6">
      <input class="form-control relationship-filter form-filter" placeholder="Type to search..." onkeydown="return (event.key != 'Enter');">
    {{ subform.related(class_='form-control') }}
    </div>
    <div class="col-md-2">
    <button class="btn btn-outline-secondary remove-relationship-form">Remove</button>
    </div>
   </div>
  </div>
{%- endmacro %}
