html {
    height: 100%;
}

/* basic design for some components */
body {
    --left-width: 20%;
    padding-top: 94px;
    height: 100%;
}

.banner {
    top: 0;
    position: fixed;
    background-color: rgb(251, 255, 254);
    height: 30px;
    width: 100%;
    z-index: 10001;
}

.banner-text {
    display: inline-block;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    font-weight: 500;
}

.banner-link {
    color: dodgerblue;
    font-weight: 600;
}

.banner-link:hover {
    color: rgb(19, 103, 187);
}

.banner-x {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 98%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.banner-badge {
    background-color: dodgerblue;
    color: white;
    padding-left: 3px;
    padding-right: 3px;
    padding: 1px 4px 1px 4px;
    border-radius: 2px;
    font-weight: 600;
}

.navbar {
    background-color: #0093A1;
    margin-top: 30px;
    position: relative;
}

.navbar-collapse {
    background-color: #0093A1;
    max-height: calc(100vh - 56px);
    height: auto !important;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}


.page-title {
    margin-top: 30px;
}

.title {
    font-size: 28px;
    font-weight: bolder;

}

hr.solid {
    margin-bottom: 30px;
}

button.btn-sm {
    font-size: 16px;
    margin: 3px;
}

.btn-colour,
.btn-primary {
    color: #fff;
    background-color: #0093A1 !important;
    border-color: #0093A1 !important;
}

.btn-danger {
    font-size: 15px;
}

.btn-colour:hover,
.btn-primary:hover {
    color: #fff !important;
    background-image: linear-gradient(rgba(0, 0, 0, 0.2) 0 0) !important;
}

/* modal style */
.modal {
    display: none;
    position: fixed;
    z-index: 2;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    width: 70%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

.close {
    color: black;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #0093A1;
    cursor: pointer;
}

.modal-header {
    padding-bottom: 5px;
    padding-top: 5px;
    margin-top: auto;
    margin-bottom: auto;
    font-size: larger;
    font-weight: 500;
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }

    to {
        top: 0;
        opacity: 1
    }
}

@keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }

    to {
        top: 0;
        opacity: 1
    }
}

/* links in view term page */
.link {
    color: #036f79;
    text-decoration: none;
    padding: 0;
}

.link:hover {
    color: #036f79;
    border-bottom: 0.5px solid #036f79;
}

.breadcrumb {
    margin-left: 5px;
}

.breadcrumb-item a {
    color: black;
    text-decoration: none;
}

.breadcrumb-item a:hover {
    color: #036f79;
    border-bottom: 0.5px solid #036f79;
}

/* home page */
.logo {
    margin-top: 64px;
}

/* navbar design */
.navbar {
    z-index: 10000;
    position: fixed;
    top: 0;
    width: 100%;
}

.navbar .nav-link {
    color: white !important;
    font-weight: normal;
    font-size: 16px;
    text-align: center;
}

.navbar .navbar-nav .nav-item {
    position: relative;
}

@media (min-width: 991px) {
    .navbar {
        height: 64px !important;
        padding: 0;
    }

    .navbar .navbar-nav .nav-item {
        margin: 0 8px;
    }

    .navbar .navbar-nav .nav-link::after {
        position: absolute;
        bottom: 10%;
        left: 10%;
        right: 0;
        background-color: aliceblue;
        width: 0%;
        content: "";
        height: 1px;
    }

    .navbar .navbar-nav .active::after {
        width: 80%;
        height: 2.7px;
    }
}

@media (max-width: 991px) {
    .navbar {
        height: 64px;
        padding: 0px;
    }

    .navbar-brand {
        margin-left: 12px;
    }

    .container-fluid {
        padding: 0px;
        overflow-x: auto;
    }

    .custom-navbar-toggler {
        margin-right: 12px;
    }

    .navbar-collapse {
        display: flex;
        flex-direction: column;
    }

    .navbar .navbar-nav .nav-link::after {
        position: absolute;
        bottom: 5%;
        left: 0;
        right: 0;
        background-color: white;
        width: 0%;
        content: "";
        height: 2.5px;
    }

    .navbar .nav-link:focus::after,
    .navbar .navbar-nav .nav-link:hover::after,
    .navbar .navbar-nav .active::after {
        width: 100%;
    }
}

.navbar .nav-link:focus,
.navbar .navbar-nav .nav-link:hover,
.navbar .navbar-nav .active {
    font-weight: 550;
}

/* keep the position of the two nav-items on hover */
.navbar .navbar-nav .nav-link::before {
    display: block;
    content: attr(value);
    font-weight: 550;
    height: 0;
    overflow: hidden;
    visibility: hidden;
}

/* The side navigation menu */
.sidebar {
    margin-top: 64px;
    height: calc(100vh - 64px);
    width: var(--left-width);
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #dbe8e9;
    /*padding-top: 20px;*/
    white-space: nowrap;
    overflow-x: visible;
    overflow-y: auto;
}

/* dragholder of sidebar */
#dragholder {
    position: fixed;
    background-color: black;
    opacity: 0.3;
    height: 100%;
    width: 4px;
    left: var(--left-width);
    cursor: ew-resize;
}

.page-content {
    margin: 84px 5% 0 0;
    margin-top: 2%;
    margin-left: calc(5% + var(--left-width));
}

@media screen and (max-height: 450px) {
    .sidebar {
        padding-top: 15px;
    }
}

/* styles for list terms page*/
#list {
    padding-bottom: 20px;
}

.list-btn {
    border: 1px solid cadetblue;
    margin-left: 8px;
}

.list-btn:hover {
    color: #0093A1;
}

/* collapse and extend */
[aria-expanded="false"]>.expanded,
[aria-expanded="true"]>.collapsed {
    display: none;
}

/* show add child term button only when hover */
div.term-group {
    height: 40px !important;
    font-size: 16px !important;
}

a.btn-outline-primary {
    color: #fff;
    background-color: #0093A1;
    border-color: #0093A1;
    height: 30px !important;
    font-size: 16px !important;
    text-align: center !important;
}

.btn-wrap-text {
    white-space: normal !important;
    word-wrap: break-word !important;
}

.collapse-btn {
    margin-left: 0;
    padding-left: 0;
    padding-right: 0;
}

/* draw the tree lines */
/* align the tree list */
.tree,
.tree ul {
    margin: 0;
    padding: 0;
    list-style: none
}

.tree ul {
    margin-left: 0;
    position: relative;
}

.tree>div {
    padding-left: 13px;
}

#tree2>li>div {
    padding-left: 18px;
}

#tree2>li>div>div>.term-name {
    font-weight: 600 !important;
}

#tree2 ul:after {
    content: "";
    display: block;
    width: 0;
    position: absolute;
    top: -8px;
    bottom: 20px;
    /* change the start position of the line */
    left: 24px;
    border-left: 2px solid;
    border-left-style: dotted;
    transform: translate(0, 0)
}

.tree li li {
    /*margin: 10px;*/
    padding: 0 0 0 16px;
    position: relative;
}

.tree ul li:before {
    content: "";
    display: block;
    /* change the line width */
    width: 8px;
    height: 0px;
    border-top: 2px solid;
    border-top-style: dotted;
    position: absolute;
    top: 18px;
    /* change the start position of the line */
    left: 25px;
}

.tree ul li div {
    margin: 0 18px;
}

.tree ul li div div {
    margin-left: 0px;
}

.tree div {
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;
}

.tree div .hide {
    display: none;
}

.tree div:hover>.hide {
    display: block;
}

.tree .hover-bkg:hover {
    background-color: rgb(239, 238, 238);
    border-radius: 3px;
    mix-blend-mode: multiply;
}

.tree li a {
    text-decoration: none;
    color: black;
}

.tree .term-name {
    color: black;
    font-size: larger;
    font-weight: 300;
    padding-left: 3px;
}

.tree span.show {
    color: #0093A1;
    cursor: pointer;
}

#tree2 ul li.individual:before {
    content: "";
    display: block;
    /* change the line width */
    width: 8px;
    height: 0px;
    border-top: 2px solid;
    border-top-style: dotted;
    position: absolute;
    top: 10px;
    /* change the start position of the line */
    left: 25px;
}

#tree2 ul li.individual {
    padding: 0 18px 0 34px;
}

#tree2 .individual-term .term-name,
#tree2 .individual-term {
    color: gray;
    font-size: large;
}

#tree2>li {
    background-color: #ccdedf;
    padding: 0 18px;
    border-bottom: 3px solid white;
}

#tree2 li ul .hover-bkg {
    border-bottom: 1.5px solid black;
}

#tree2>li:first-of-type {
    border-radius: 5px 5px 0 0;
}

#tree2>li:last-of-type {
    border-radius: 0 0 5px 5px;
}

#tree2>li>ul>li {
    background-color: #f1f6f7;
}

#tree2>li>ul>li>ul>li {
    background-color: white;
}

#tree2>li>ul>li>ul>li>ul>li {
    background-color: white;
}

/* sidebar tree */
#tree1>li {
    background-color: #dbe8e9;
}

#tree1>li>ul>li {
    background-color: #f1f6f7;
}

#tree1>li>ul>li>ul li {
    background-color: white;
}

#tree1 {
    margin-top: 64px;
}

#tree1>li {
    margin-bottom: 2px;
}

#tree1 li .btn-sm {
    padding-top: 0;
    padding-bottom: 0;
    padding-right: 1px;
    height: 24px;
}

#tree1 div {
    margin: 0px;
}

#tree1 ul li.individual {
    padding-left: 34px;
}

#tree1 .individual-term .term-name,
#tree2 .individual-term {
    color: gray;
}

#tree1 ul li.individual div {
    flex-wrap: wrap;
}

#tree1 ul:before {
    content: "";
    display: block;
    width: 0;
    position: absolute;
    top: 0;
    bottom: 15px;
    /* change the start position of the line */
    left: 15px;
    border-left: 1px solid;
    border-left-style: dotted;
    z-index: 2;
    pointer-events: none;
}

#tree1 li {
    position: relative;
}

#tree1 ul li:before {
    content: "";
    display: block;
    /* change the line width */
    width: 8px;
    height: 0;
    border-top: 1px solid;
    border-top-style: dotted;
    position: absolute;
    top: 10px;
    /* change the start position of the line */
    left: 15px;
    z-index: 2;
    pointer-events: none;
}

#tree1 div:not(.individual-terms):hover {
    background-color: rgba(224, 224, 224, 0.7);
    margin: 0 -100%;
    padding: 0 100% !important;
}

#tree1 .individual-terms>span>a:hover {
    background-color: rgba(224, 224, 224, 0.7);
}

#tree1 .selected-item {
    background-color: rgba(0, 147, 161, 0.2);
    margin: 0 -100%;
    padding: 0 100% !important;
}

#tree1 .selected-term {
    background-color: rgba(0, 147, 161, 0.2);
}

#tree1 .origin-term {
    background-color: rgba(0, 147, 161, 0.6) !important;
}

#tree1 .term-name {
    font-size: 16px;
    height: 24px;
    padding: 0;
}

#tree1>li>div>.term-name {
    font-weight: 500 !important;
}

#tree1 span.show {
    padding-left: 3px;
}

.searched-bg {
    background-color: rgba(254, 152, 19, 0.2);
    border-radius: 1px;
}

.filtered-bg {
    padding: 0 3px;
    color: #0a818c !important;
}

.term-filter {
    margin: 0px 10px;
}

.alert-info {
    display: none;
}

/* style for new term page (child and edit term page) */
.border {
    margin-top: 20px;
    margin-bottom: 40px;
    padding: 30px;
}

.form-label,
.form-control,
.form-select {
    font-size: 15px;
}

.input-required:after {
    content: "*";
    color: red;
}

/* add check-box before the terms name */
.select-checkbox option::before {
    content: url(/static/app.svg);
    display: inline-block;
    vertical-align: -.125em;
}

.select-checkbox option:checked::before {
    content: url(/static/check-square.svg);
}

/* select field */
.select-checkbox {
    height: 150px;
    margin-bottom: 10px;
}

/* add some space between search field and option field */
.form-filter {
    margin-bottom: 5px;
}

/* style of tooltip of data type */
.tooltip-inner {
    max-width: 100% !important;
    text-align: left !important;
}

/* style of vocabulary tree */
#hierarchical-graph,
#relation-graph {
    margin-top: 30px;
}

#graph-bar {
    width: 100%;
    position: fixed;
    height: 30px;
    display: flex;
    justify-content: center;
}

.graph-tab {
    font-size: medium;
    font-weight: 800;
    width: 50%;
    text-align: center;
    color: rgb(150, 150, 150);
    border-bottom: 3px solid rgb(222, 222, 222);
    cursor: pointer;
}

.graph-tab:hover {
    color: #036f79;
    border-bottom: 3px solid #036f79;
}

.graph-tab-active {
    color: #036f79;
    background-color: #e3f1f2;
    border-bottom: 3px solid #036f79;
}

.graph-tab-active:after {
    content: '';
    position: relative;
    left: 0%;
    top: -7px;
    border-top: 6px solid #036f79;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
}

.node {
    cursor: pointer;
}

.node circle {
    fill: #fff;
    stroke: steelblue;
    stroke-width: 3px;
}

.node p {
    font: 12px sans-serif;
}

.link {
    fill: none;
    stroke: #ccc;
    stroke-width: 2px;
}

/* so the appended html in vocabulary tree is always visible*/
foreignObject {
    overflow: visible;
}

.hierarchical-graph-tag {
    background-color: white;
}

.tree-tag-icon {
    -webkit-text-stroke: 1px;
}

ul.legend {
    font-size: medium;
    display: grid;
    grid-template-rows: repeat(2, min-content);
    grid-auto-flow: column;
    list-style-type: none;
    border: 2px dashed #ccc;
    border-radius: 3px;
    padding-right: 20px;
    padding-left: 0;
    background-color: white;
}

/* style of related graph */
.graph-control {
    position: fixed;
    left: 0;
    bottom: 0;
    margin: 2vh 2vw;
    font-size: 25px !important;
}

.graph-btn {
    color: black;
    margin: 15px;
    -webkit-text-stroke: 1px;
}

.legend {
    position: fixed;
    right: 0;
    bottom: 0;
    font-size: 20px;
    margin: 2vh 2vw;
}

.legend i {
    margin-left: 30px;
}

/* add some space for each selected option */
.selected-options span {
    margin: 3px;
}

/* view term page style */
.unit-badge {
    background-color: rgb(219, 219, 219);
    color: rgb(60, 60, 60);
}

.rounded-circle {
    width: 45px;
    margin-left: 30px;
    margin-right: 20px;
    margin-bottom: 0px;
}

.vl {
    position: relative;
    left: 4%;
    border-left: 2px solid #e3e3e3;
    height: 20px;
}

.outline {
    border-radius: 5px;
    border-style: solid;
    border-color: lightgray;
}

.username {
    font-size: medium;
    color: #0093A1;
}

.username:hover {
    color: #0a818c;
}

.text-muted {
    font-size: medium;
    text-align: right;
}

.d-flex {
    padding-top: 10px;
    padding-bottom: 10px;
}

.text-muted {
    float: right;
    margin-right: 15px;
    font-size: small;
}

.discussion-title {
    /*width: 20%;*/
    color: white;
    margin-bottom: 0%;
    text-align: center;
    background-color: #3ab4bf;
    margin-top: S0px;
    padding: 5px;
    border-radius: 3px;
}

.no-padding {
    padding-top: 0px;
    padding-bottom: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.view-term-item {
    min-width: max-content;
}

.upvote,
.downvote {
    margin-top: 0px;
    padding-top: 0px;
    color: gray;
    margin-right: 0px;
}

.upvote:hover {
    color: #0093A1;
}

.downvote:hover {
    color: #fd5923;
}

.upvoted {
    font-size: larger;
    color: #0093A1;
}

.upvoted:hover {
    color: #0a818c;
}

.downvoted {
    font-size: larger;
    color: #fd5923;
}

.downvoted:hover {
    color: #d45025;
}

.view-term {
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 0px;
}

.term-title {
    margin-top: 0px;
    font-size: calc(1.325rem + .9vw);
}

.grayed-out {
    color: lightgray;
}

.definition-title {
    white-space: nowrap;
    width: 9%;
}

.definition-title p {
    font-weight: 500;
}

.definition-table tr:nth-child(odd) {
    background-color: #f1f6f7;
}

.definition-content {
    font-weight: 300;
}

.comments_form {
    padding-bottom: 40px;
    padding-top: 20px;
}

.rounded-top {
    border-radius: 5px 5px 0px 0px;
}

.vocab-flex {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.view-buttons {
    padding-left: 0px !important;
    padding-right: 0px !important;
}

.dropdown-button {
    white-space: normal;
}

.dropdown-menu span {
    white-space: nowrap;
    overflow: hidden;
}

.image-modal {
    width: 100% !important;
    max-width: 100vw !important;
}

.img-container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
}

.img-container:hover {
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}

.img-container img {
    max-width: 95%;
    max-height: 95%;
}

.image-frame {
    height: 70vh;
    /* same as the image height*/
    width: 60vw;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

.image-frame img {
    max-height: 70vh;
    max-width: 60vw;
    width: auto;
}

.tip {
    background-color: #263646;
    padding: 0 14px;
    line-height: 27px;
    position: absolute;
    border-radius: 4px;
    z-index: 100;
    color: #fff;
    font-size: 12px;
    animation-name: tip;
    animation-duration: .6s;
    animation-fill-mode: both
}

.tip:before {
    content: "";
    background-color: #263646;
    height: 10px;
    width: 10px;
    display: block;
    position: absolute;
    transform: rotate(45deg);
    top: -4px;
    left: 17px
}

.copied-tip {
    animation-name: come_and_leave;
    animation-duration: 1s;
    animation-fill-mode: both;
    bottom: -35px;
    left: 2px
}

.export_container {
    padding-top: 2%;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 2%;
}

.export_errormessage {
    color: #d45025;
}

.export_input_group {
    border-radius: 5px;
    border: 1px solid rgb(195, 195, 195);
    padding: 20px;
}

.export_input_field {
    margin-bottom: 1%;
}

.initial_vocab_select_bar {
    padding-left: 35%;
    padding-right: 35%;
}

.gitlab-login-button-container {
    margin: 0;
    position: absolute;
    top: 70%;
    left: 50%;
    -ms-transform: translateY(-80%);
    transform: translateY(-80%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}

.gitlab_trademark {
    position: absolute;
    bottom: 0%;
    left: 50%;
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}

.link_nav_bar:hover .dropdown-menu {
    display: block;
}

.bi.boolean-01-icon::before {
    /* content: "0|1"; */
    display: inline-block;
    width: 16px;
    height: 16px;
    content: "";
    background: transparent url('../static/icons/boolean_icon.svg') no-repeat center;
    background-size: contain;
  }

.chevron_icon {
    font-size: 15px;
}
.vocpopuli_types_list {
    padding-left: 0;
}

.hidden-buttons {
    visibility: hidden;
    display: flex; 
    align-items: center;
}

tr:hover .hidden-buttons {
    visibility: visible;
    display: flex; 
    align-items: center;
}

.delete-link {
    color: #0093A1
}

.term_form_input_field {
    margin-top: 15px;
}
  
.form-select-vocabulary {
    font-size: 20px;
    font-weight: 650;
}

.version-tree {
    position: relative;
    margin-bottom: 10px;
    border: 2px solid lightgray;
}

.color-legend {
    position: absolute;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: row;
    margin: 0 10px;
}

.color-gradient {
    width: 200px;
    height: 10px;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 5px;
    margin-right: 5px;
    background-image: -webkit-linear-gradient(left, rgb(19,80,88) 0%, rgb(241,242,181) 95%, rgb(255,165,0) 100%);
    background-image: -moz-linear-gradient(left, rgb(19,80,88) 0%, rgb(241,242,181) 95%, rgb(255,165,0) 100%);
    background-image: -o-linear-gradient(left, rgb(19,80,88) 0%, rgb(241,242,181) 95%, rgb(255,165,0) 100%);
    background-image: linear-gradient(left, rgb(19,80,88) 0%, rgb(241,242,181) 95%, rgb(255,165,0) 100%);
    /*background-image: linear-gradient(left, rgb(63,38,168) 0%, rgb(36,160,230) 40%, rgb(255,239,1) 70%, rgb(255,175,0) 100%);*/
}

.current-node {
    filter: drop-shadow(2px 0 0 white) drop-shadow(-2px 0 0 white) drop-shadow(0 2px 0 white) drop-shadow(0 -2px 0 white) drop-shadow(2px 0 0 #0093A1) drop-shadow(-2px 0 0 #0093A1) drop-shadow(0 -2px 0 #0093A1) drop-shadow(0 2px 0 #0093A1);
}

.vocpopuli_types_list {
    padding-left: 0;
}
  
.metadata-table-header {
    vertical-align: top;
    border-top: 2px solid black;
}

.first-column-metadata-table {
    text-align: left;
} 

.headline-metadata {
    margin-top: 30px;
    margin-bottom: 15px;
}
.nav-bar-shadow {
    text-shadow:
    3px 3px 5px #0949AD,
    0 0 1em #0949AD,
    0 0 0.5em #0949AD;
}

.nav-bar-bank-shadow {
    text-shadow:
    3px 3px 5px #0093A1,
    0 0 1em #0093A1,
    0 0 0.5em #0093A1;
}

.navbar_bank {
   background-color: #0949AD !important;
}

.btn-colour_bank,
.btn-primary_bank {
    color: #fff;
    background-color: #0949AD !important;
    border-color: #0949AD !important;
}

.title_large {
    font-size: 33px;
    font-weight: bolder;
}

.form-label_bank,
.form-control_bank,
.form-select_bank {
    font-size: 18px;
}

.dropdown-term-bank {
    height: 300px;
    overflow-y: auto;
    border: 1px solid #ccc;
}

.term-dropdown-bank:hover {
    background-color: lightgray;
}

.selected-term-dropdown-bank {
    background-color: lightgray;
}

.toplevel-sign {
    color: #0093A1;
}
.table-sticky-header {
    position: relative; 
    border-collapse: separate;
    border-spacing: 0;
}

.table-sticky-header th {
    position: sticky;
    top: 64px;
    background-color: white;
    border-bottom: 2px solid black;
}
.type-input-text-field {
    vertical-align: top;
}

.type_row {
    cursor: pointer;
}

.navbar-tooltip {
    z-index: 10001;
}

.datatype-tooltip-content b {
    text-transform: capitalize;
}

.datatype-tooltip-content {
    max-width: 500px;
    word-wrap: break-word;
}