<form class="d-flex" action={{ url_for("main.choose_project") }} id="vocab_select_form" method="post">
  {{ select_project_form.csrf_token }}
  <select class="form-select form-select-vocabulary" name="project" aria-label="Vocabulary select" onchange="this.form.submit();" style="width: 300px; text-align: center;">
    {% for p_id, p_name in select_project_form.project.choices %}
      <option {% if p_id == select_project_form.project.default  %}selected="true"{% endif %}
              {% if not p_id %} value="" disabled="true" {% else %} value="{{ p_id }}" {% endif %}>
        {{ p_name }}
      </option>
    {% endfor %}
  </select>
</form>