{% if session.get('LAST_ACTIVITY') %}
<div style="padding-right: 5px; float: left; color: #ffff; font-size: 10px;">
    <table>
      <tr>
        <th>Last Repository Activity:</th>
      </tr>
      <tr>
        <th style="text-align: center;" id="last_activity_time">
          {{ session['LAST_ACTIVITY'] }}
        </th>
      </tr>
    </table>
    <script>
      let utcTime = document.getElementById("last_activity_time").innerHTML;
      let stringParts = utcTime.split('T');
      let parts = stringParts[0].split('-')
      let time = stringParts[1].split(".")[0].split(':');
      let date = new Date(Date.UTC(parseInt(parts[0]), parseInt(parts[1])-1, parseInt(parts[2]), parseInt(time[0]), parseInt(time[1]), parseInt(time[2])))
      let formattedTime = date.toLocaleString();
      formattedTime.replace(", ", " at ")
      document.getElementById("last_activity_time").innerHTML = formattedTime.replace(", ", " at ");
    </script>
</div>
{% endif %} 