{%- macro nav_item(href, label, disabled=False) %}
<li class="nav-item"
    {% if disabled %} class="disabled" {% endif %}
>
    <a class="nav-link" href={{ href }} value="{{ label }}">{{ label }}</a>
</li>
{%- endmacro %}