<div id="agree-modal1" class="modal">
    <!-- Modal content -->
    <div class="modal-content">
        <div class="modal-body">
            <div class="agree-text">
                <p>VocPopuli is in a “testing” phase, and the website might change. However, your vocabularies will be retained by you.</p>
                <p>VocPopuli will be officially released in Q2 2023.</p>
            </div>
            <a class="btn btn-colour" id="agree-btn1">Next</a>
        </div>
    </div>
</div>

<div id="agree-modal2" class="modal">
    <!-- Modal content -->
    <div class="modal-content">
        <div class="modal-body">
            <div class="agree-text">
                <p>To understand the functionality of VocPopuli, please watch the example videos on vocpopuli.com, or contact the developers: <a href="mailto: nikolay.garabedian@kit.edu">nikolay.garabedian@kit.edu</a> or <a href="mailto: ilia.bagov@kit.edu">ilia.bagov@kit.edu</a></p>
            </div>
            <a class="btn btn-colour" id="agree-btn2">Next</a>
        </div>
    </div>
</div>

<div id="agree-modal3" class="modal">
    <!-- Modal content -->
    <div class="modal-content">
        <div class="modal-body">
            <div class="agree-text">
                <p>If you “Publish Vocabulary”, this will create public records (which you can hide at any time). These records might contain your name and email address.</p>
            </div>
            <a class="btn btn-colour" id="agree-btn3">I agree</a>
        </div>
    </div>
</div>
