{% if item['children'] %}
<!-- target collapsible child term list has id="collapse" + term_version_id, to make each separately collapsible -->
<a class="btn item-collapsed collapse-btn" type="button" id="chevron_{{item['id_t_version']}}" data-bs-toggle="collapse" data-bs-target={{"#collapse" ~
    item['id_t_version'] }} aria-expanded="false">
    <i style="font-size: 15px" class='bi bi-chevron-right collapsed'></i>
    <i style="font-size: 15px" class='bi bi-chevron-down expanded'></i>
</a>
{% else %}
{# invisible placeholder of the same size #}
<a class="btn collapse-btn" type="button" id="placeholder_{{item['id_t_version']}}">
    <i style="font-size: 15px; opacity: 0;" class='bi bi-chevron-down expanded'></i>
</a>
{% endif %}
