<!doctype html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        {{ bootstrap.load_css() }}
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='style.css') }}">

        <title>{% block page_title %}VocPopuli{% endblock page_title %}</title>

        {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
            <div class="alert alert-danger alert-dismissible fade show">
                {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
            </div>
            {% endfor %}
        {% endif %}
    {% endwith %}

    </head>
    <body>
        {% include "components/_alpha_version_banner.html" %}
        {% include "components/_navbar.html" %}
        {% include "components/_timeout_modal.html" %}
        <!-- Your page content -->
        {% block page_content %}{% endblock page_content %}

        {% block scripts %}
            {{ bootstrap.load_js() }}
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
            <script src="{{ url_for('static',filename='js/utils.js') }}"></script>
            <script src="{{ url_for('static',filename='js/base.js') }}"></script>
        {% endblock scripts %}
    </body>
</html>
