{% extends "base.html" %}
{% block page_content %}
<div class="container">
    <div class="d-flex align-items-center">
      <table class="table table-hover table-sticky-header">
        <thead>
          <tr>
            <th>Type name</th>
            <th>Color</th>
            <th>Icon</th>
            <th>Numeric</th>
            <th>Top-Level</th>
            <th>Parent Data Types</th>
            <th>Help Text</th>
            <th>
              <button class="btn btn-sm btn-primary"
                      id="save-structure-button"
                      style="visibility: hidden !important">Save Order</button>
            </th>
          </tr>
        </thead>
        <tbody id="sortable-table">
          {% for type_ in data_types %}
            <tr draggable="true"
                class="type_row"
                value="{{ type_["name"] }}"
                ondblclick="editDataType(this, '{{ type_["name"] }}', '{{ type_["color"] }}', '{{ type_["icon"] }}', '{{ type_["numeric"] }}', '{{ type_["help_text"] }}', '{{ type_["toplevel"] }}', '{{ type_["parents_json"] }}')">
              <td>{{ type_["name"] }}</td>
              <td>{{ type_["color"] }}</td>
              <td>{{ type_["icon"] }}</td>
              <td>{{ type_["numeric"] }}</td>
              <td>{{ type_["toplevel"] }}</td>
              <td>{% for x in type_["parent_types"] %}{{ x }}<br>{% endfor %}</td>
              <td>{{ type_["help_text"] }}</td>
              <td>
                <div class="hidden-buttons">
                  <a {% if type_["instances"] == 0 %}href="/delete_datatype/{{ type_["name"] }}"{% endif %}
                     class="delete-link">
                    <i style="font-size: 20px;
                              padding-left: 8px"
                       class="bi bi-trash"
                       type="button"
                       data-bs-toggle="tooltip"
                       data-bs-placement="right"
                       data-bs-custom-class="custom-tooltip"
                       {% if type_["instances"] == 0 %} data-bs-title="Delete '{{ type_["name"] }}'" {% else %} data-bs-title="'{{ type_["name"] }}' can't be deleted, it has {{ type_["instances"] }} instances."{% endif %}></i></a>
                  <i style="font-size: 20px;
                            padding-left: 8px"
                     class="bi bi-arrows-move handle"
                     type="button"
                     data-bs-toggle="tooltip"
                     data-bs-placement="right"
                     data-bs-custom-class="custom-tooltip"
                     data-bs-title="Drag to move"></i>
                </div>
              </td>
            </tr>
          {% endfor %}
        </tbody>
        <tfoot>
          <form action="{{ url_for(".data_types") }}" method="post">
            {{ create_data_type_form.csrf_token }}
            <tr>
              <td class="type-input-text-field">{{ create_data_type_form.name(class_='form-control') }}</td>
              <td class="type-input-text-field">{{ create_data_type_form.color(class_='form-control') }}</td>
              <td class="type-input-text-field">{{ create_data_type_form.icon(class_='form-control') }}</td>
              <td class="type-input-text-field">{{ create_data_type_form.numeric }}</td>
              <td class="type-input-text-field">{{ create_data_type_form.toplevel }}</td>
              <td style="min-width:150px;" class="type-input-text-field">{{ create_data_type_form.parent_types(class_='form-control select-checkbox options easy-select') }}</td>
              <td class="type-input-text-field">{{ create_data_type_form.help_text(class_='form-control') }}</td>
              <td class="type-input-text-field">{{ create_data_type_form.submit }}</td>
            </tr>
          </form>
        </tfoot>
      </table>
    </div>
  </div>
  <div hidden>
    <form action="{{ url_for(".reorder_datatypes") }}"
          method="post"
          id="save-structure-form">
      {{ create_data_type_form.csrf_token }}
      <input type="text"
             id="new_order_input"
             value="new_order_input"
             name="new_order_input">
    </input>
  </form>
</div>
<div hidden>
  <table id="form-table">
    <tr id="edit_form_row">
      <form action={{ url_for(".edit_datatype") }} method="post">
        {{ create_data_type_form.csrf_token }}
        <td>{{ create_data_type_form.name(id_="edit_name", class_='form-control') }}</td>
        <td>{{ create_data_type_form.color(id_="edit_color", class_='form-control') }}</td>
        <td>{{ create_data_type_form.icon(id_="edit_icon", class_='form-control') }}</td>
        <td>{{ create_data_type_form.numeric(id_="edit_numeric") }}</td>
        <td>{{ create_data_type_form.toplevel(id_="edit_toplevel") }}</td>
        <td>{{ create_data_type_form.parent_types(id_="edit_parent_types", class_='form-control select-checkbox options easy-select') }}</td>
        <td>{{ create_data_type_form.help_text(id_="edit_help_text", class_='form-control') }}</td>
        <td style="white-space: nowrap">
          {{ create_data_type_form.submit(value_="Save") }} <button class="btn btn-primary" id="stop_editing_button" style="margin-left: 3px;">x</button>
        </td>
        <input type="hidden" id="old_name" name="old_name">
      </input>
    </form>
  </tr>
</table>
</div>
{% endblock page_content %}
{% block scripts %}
  {{ super() }}
  <script src="{{ url_for('static',filename='js/Sortable.js') }}"></script>
  <script src="{{ url_for('static',filename='js/types.js') }}"></script>
{% endblock scripts %}
