{% import "bootstrap5/form.html" as wtf %}
{% extends "base.html" %}
{% block page_content %}
  <div class="container">
    <h1 class="headline-metadata">Vocabulary Metadata</h1>
    {{ wtf.render_form(vocabulary_metadata_form) }}
  </div>
{% endblock page_content %}
