{% extends "base_bank.html" %}
{% block page_content %}
<div class="container">
    <p>The export could not be completed because the following terms have not been approved yet:</p>
    <ul>
        {% for term in unapproved %}
        <li>
            <a href={{url_for(".view_term", term_version_id=term[1])}}>{{term[0]}}</a>
        </li>
        {% endfor %}
    </ul>
</div>
{% endblock page_content %}