{% import "bootstrap5/form.html" as wtf%}
{% extends "base_bank.html"%}

{% block page_content %}
<div class="px-3" style="margin-bottom: 20px;">
  <form id="termForm" class="border" action="" method="post">
    {{ select_term_form.csrf_token }}
    <div class="d-flex justify-content-between">
    {{ select_term_form.terms.label(class_="form-label_bank") }}
    <div>
    <label class="" for="toplevel">Show only Toplevel Terms</label>
    <input type="checkbox" id="toplevel" name="toplevel" class="" onchange="show_toplevel();"/>
    </div>
    </div>
    <input type="text" placeholder="Search" id="searchbar" onkeyup="filterFunction()" onclick="hideDropdown()" class="form-select">
    
    <div class="dropdown-term-bank " id="search_terms" hidden>
      <div style="padding: 10px;">

        {% for term in terms %}
          <div {% if term.broader|length == 0 %}class="term-dropdown-bank"{% else %}class="term-dropdown-bank lowlevel-term-dropdown"{% endif %} value="{{term.label}}" onclick="selectTerm('{{term.id}}')" id="{{term.id}}">
            <div style="display: flex; justify-content: space-between;" >
              <div class="drowdown_term_label">{{term.label}}</div>
              <div style="text-align: right;">({{term.vocabulary_name}})</div>
            </div>
            <p style="font-size:12px; color:gray;">{{term.definition}}</p>
          </div>
        {% endfor %}

      </div>
    </div>
  
    <div hidden>
      {{ select_term_form.terms(class_='form-select', id_='terms-select') }}
    </div>
    <p> </p>
    {{ select_term_form.submit(class_='btn btn-colour_bank') }}
  </form>
<!--{{ wtf.render_form(select_term_form)}}-->
</div>

<div class="px-3" style="margin-bottom: 0px;">
  <form id="vocabForm" class="border" action="" method="post">
    {{ select_vocabulary_form.csrf_token }}
    {{ select_vocabulary_form.domain.label(class_="form-label_bank") }}
    {{ select_vocabulary_form.domain(class_='form-select') }}
    <p> </p>
    {{ select_vocabulary_form.vocabulary.label(class_="form-label_bank") }}
    {{ select_vocabulary_form.vocabulary(class_='form-select') }}
    <p> </p>
    {{ select_vocabulary_form.submit(class_='btn btn-colour_bank') }}
  </form>
</div>

<div style="height: 30px;"></div>
{% endblock %}

{% block scripts %}
{{ super() }}
<script>// Get references to the select fields
  var domainSelect = document.getElementById("domain");
  var vocabularySelect = document.getElementById("vocabulary");
  var submitButton = document.getElementById("submit")
  vocabularySelect.style.display = "block";

  domainSelect.selectedIndex = -1;
  // Hide the second select field initially
  for (var i = 0; i < vocabularySelect.options.length; i++) {
    var option = vocabularySelect.options[i];
    option.style.display = "none";
  }
  vocabularySelect.selectedIndex = -1;
  
  // Add an event listener to the domain select field
  domainSelect.addEventListener("change", function() {
    vocabularySelect.selectedIndex = -1;
    // Get the selected domain value
    var selectedDomain = domainSelect.value;
    // Show the second select field
    vocabularySelect.style.display = "block";
  
    // Loop through each option in the vocabulary select field
    for (var i = 0; i < vocabularySelect.options.length; i++) {
      var option = vocabularySelect.options[i];
      // Get the 2nd value in the option's value attribute
      var optionDomain = option.value.substring(option.value.indexOf(", ") + 2, option.value.lastIndexOf(")"));
      // Hide or show the option based on the selected domain
      if (optionDomain.includes("'" + selectedDomain + "'")) {
        option.style.display = "block";
      } else {
        option.style.display = "none";
      }
    }
  });  
  
  function hideDropdown() {
    if (document.getElementById("search_terms").hasAttribute("hidden")) {
      document.getElementById("search_terms").removeAttribute("hidden");
    } else {
      document.getElementById("search_terms").setAttribute("hidden", "hidden");
    }
  }
  function filterFunction() {
    let input = document.getElementById("searchbar");
    let filter = input.value.toUpperCase();
    let div = document.getElementById("search_terms");
    let options = div.querySelectorAll(".term-dropdown-bank");
    for (let i = 0; i < options.length; i++) {
      txtValue = options[i].getAttribute('value');
      if (txtValue != null && txtValue.toUpperCase().indexOf(filter) > -1) {
        options[i].removeAttribute("hidden");
      } else {
        options[i].setAttribute("hidden", "hidden");
      }
    }
  }
  function selectTerm(termID) {
    const selectMenu = document.getElementById('terms-select');
    selectMenu.value = termID;

    const allTerms = document.querySelectorAll(".term-dropdown-bank");
    for  (let i = 0; i < allTerms.length; i++) {
      allTerms[i].classList.remove("selected-term-dropdown-bank");
    }
    const selectedTerm = document.getElementById(termID);
    selectedTerm.classList.add("selected-term-dropdown-bank");
    const term_name = selectedTerm.querySelector(".drowdown_term_label").innerHTML;
    document.getElementById("search_terms").setAttribute("hidden", "hidden");
    document.getElementById("searchbar").value = term_name;
  }

  let toplevelShowing = false;
  function show_toplevel() {
    if (!toplevelShowing) {
      document.querySelectorAll(".lowlevel-term-dropdown").forEach(term => {
        term.setAttribute("hidden", "hidden");
      });
      toplevelShowing = true;
    } else {
      document.querySelectorAll(".lowlevel-term-dropdown").forEach(term => {
        term.removeAttribute("hidden", "hidden");
      });
      toplevelShowing = false;
    }
    
  }
</script>
{% endblock %}