{% import "bootstrap5/form.html" as wtf%}
{% extends "base_bank.html"%}

{% block page_content %}
<div class="px-3" style="margin-bottom: 0;">
    <form id="vocabForm" class="border" action="" method="post">
      {{ select_vocabulary_form.csrf_token }}
      <label class="form-label_bank">Select Vocabulary to Export:</label>
      {{ select_vocabulary_form.project(class_='form-select') }}
      <p> </p>
      <button type="submit" class="btn btn-primary btn-colour_bank" onclick="return confirm('Are you sure you want to export? This can take up to 10 min.')">Export</button>
    </form>
  </div>
{% endblock %}