{% import "bootstrap5/form.html" as wtf%}
{% extends "base.html"%}
{% block page_content %}
  <div class="d-flex align-items-center flex-column justify-content-center" style="min-height: 85vh; min-width: 100vw;">
    
    {% if not session.get('PROJECT_ID') %}
      <div class="text-center" style="min-width: 100vw;">
        <div class="initial_vocab_select_bar" style="min-width: 100vw;">
          <form class="d-flex" action={{ url_for("main.choose_project") }} id="vocab_select_form" method="post">
            {{ select_project_form.csrf_token }}
            <select class="form-select" name="project" aria-label="Vocabulary select">
              {% for p_id, p_name in select_project_form.project.choices %}
                <option {% if loop.first %}selected="true"{% endif %}
                        {% if not p_id %} value="" disabled="true" {% else %} value="{{ p_id }}" {% endif %}>
                  {{ p_name }}
                </option>
              {% endfor %}
            </select>
            <button class="btn btn-outline-light"
                    style="margin-left:5px;
                           background-color: #0093A1"
                    type="submit">Select</button>
            </form>
        </div>
    </div>
    {% endif %}

    <div class="container text-center">
        <img src={{ url_for("static", filename="VocPopuli_Square.png" ) }} class="img-fluid" width="400" height="400">
    </div>

    {% include "index/agree_modals.html" %}
</div>
{% endblock %}
