{% import "bootstrap5/form.html" as wtf%}
{% extends "base.html"%}

{% block page_content %}
    <div class="export_container" id="export_container">
        <div class="export_errormessage">
            {% if error %}
                <p><strong>Error:</strong> {{ error }}
            {% endif %}
        </div>

        <form method="post">
            {{ form.csrf_token() }}
       
            <div>
                <div class="export_input_group" id="export_input_group">
                    <div class="d-flex align-items-center page-title">
                        <div><h2 class="title">Template Information</h2></div>
                    </div>
                    <hr class="solid">
                    <div class="export_input_field"> 
                        <label class="form-label input-required">{{ form.template.label }}</label>
                        {{ form.template(class_='form-select') }}
                    </div>
                    <div class="export_input_field"> 
                        <label class="form-label input-required">{{ form.title_template.label }}</label>
                        {{ form.title_template(class_='form-control') }}
                    </div>
                    <div class="export_input_field"> 
                        <label class="form-label">{{ form.tags.label }}</label>
                        {{ form.tags(class_='form-control') }}
                    </div>
                    <div class="export_input_field"> 
                        <label class="form-label">{{ form.description.label }}</label>
                        {{ form.description(class_='form-control') }}
                    </div>
                </div> 
                <br>
                <div class="export_input_group" id="export_input_group">
                    <div class="d-flex align-items-center page-title">
                        <div><h2 class="title">Kadi4Mat Access</h2></div>
                    </div>
                    <hr class="solid">
                    <div class="export_input_field"> 
                        <label class="form-label input-required">{{ form.host.label }}</label>
                        {{ form.host(class_='form-control') }}
                    </div>
                    <div class="export_input_field"> 
                        <label class="form-label input-required">{{ form.pat.label }}</label>
                        {{ form.pat(class_='form-control') }}
                    </div>
                </div> 
                <br>
                <div>
                    {{ wtf.render_field(form.submit) }}{{ wtf.render_field(form.download) }}
                </div>
                
            </div> 
        </form>
    </div>

{% endblock %}
