{% extends "base_bank.html" %}
{% block page_content %}
  <div class="container" id="list">
    <div class="page-title" style="padding:10%, position:absolute; text-align:center;">
      <h4 class="title_large" style="white-space: nowrap;">{{ project_name }}</h4>
    </div>
    <div class="export_errormessage">
      {% if error_message %}
          <p><strong>Error:</strong> {{ error_message }}
      {% endif %}
  </div>
    <div class="d-flex align-items-center page-title" style="flex-wrap: wrap;">
      <form style="margin-left: 10px;">
        <input class="form-control me-2 list-filter"
               style="border-top-right-radius: 0;
                      border-bottom-right-radius: 0;
                      border-right: none"
               placeholder="Search Term Names"
               aria-label="Search">
      </form>
      <div class="btn-group dropend">
        <button type="button"
                class="btn dropdown-toggle"
                data-bs-toggle="dropdown"
                aria-expanded="false"
                style="border-color: lightgrey;
                       font-size: larger;
                       padding: 3px 8px;
                       margin:0;
                       border-top-left-radius: 0;
                       border-bottom-left-radius: 0">
          <i class="bi bi-filter"></i>
        </button>
        <div class="dropdown-menu">
          <div class="form-check term-filter">
            <input class="form-check-input"
                   type="radio"
                   name="flexRadio"
                   id="allTerms"
                   checked>
            <label class="form-check-label" for="allTerms">All</label>
          </div>
          <div class="form-check term-filter">
            <input class="form-check-input"
                   type="radio"
                   name="flexRadio"
                   id="unapproved">
            <label class="form-check-label" for="unapproved">Unapproved</label>
          </div>

        </div>
      </div>
      <div style="flex: 1; text-align: right;">
      <a class="btn btn-primary_bank btn-lg" style="white-space: nowrap;" href={{ url_for("main.import_existing_vocabulary_from_bank", vocabulary_id=vocabulary_id) }} data-bs-toggle="tooltip" data-bs-placement="right" data-bs-custom-class="custom-tooltip" data-bs-title="Import Vocabulary.">
        Import Vocabulary
        <i class="bi bi-arrow-down" style="margin-right:5px"></i>
      </a>
    </div>
    </div>
    <div class="alert alert-info" role="alert">
      <h4 class="alert-heading">
        <i style="padding: 0 4px" class="bi bi-exclamation-triangle-fill"></i>No matching terms
        found
      </h4>
      <hr>
      <p>Please try different keywords or filters.</p>
    </div>
    <ul id="tree2" class="tree-list tree list-term-tree">
      {% for vocpopuli_type in vocpopuli_types %}
      <span class="badge rounded-top" style="vertical-align: middle; background-color: {{ vocpopuli_type.color }}">{{
        vocpopuli_type.name }}</span>
        {% for item in tree_dict.get(vocpopuli_type['name'], {'children':[]})['children'] recursive %}
          <li class="{{ item['class'] }}">
            <div>
              {% include '_list_terms/_chevron.html' %}
              <div class="hover-bkg">
                {% if item['datatype'] %}
                  <i style="-webkit-text-stroke: 1px;
                            color: {{ datatypes_dict[item['datatype']]['color'] }};
                            padding-left:8px"
                      class="bi {{ datatypes_dict[item['datatype']]['icon'] }}"
                      type="button"
                      data-bs-toggle="tooltip"
                      data-bs-placement="bottom"
                      data-bs-container="body"
                      data-bs-html="true"
                      data-bs-title="type: {{ item['datatype'] }}"></i>
                {% else %}
                  <i style="-webkit-text-stroke: 1px;
                            color: #808080;
                            padding-left:8px"
                      class="bi bi-dash-circle-dotted"
                      type="button"
                      data-bs-toggle="tooltip"
                      data-bs-placement="bottom"
                      data-bs-container="body"
                      data-bs-html="true"
                      data-bs-title="type: none"></i>
                {% endif %}
                <a class="term-name" style="flex-shrink: 0;" href={{ url_for("main.view_term_bank",
                term_version_id=item['id_t_version']) }}>{{ item['name'] }}</a>
                <a class="hide" href={{ url_for("main.child_term", term_version_id=item['id_t_version']) }}>
                  <i style="font-size: 20px;
                            padding-left: 8px"
                      class="bi bi-plus-square-dotted"
                      type="button"
                      data-bs-toggle="tooltip"
                      data-bs-placement="right"
                      data-bs-custom-class="custom-tooltip"
                      data-bs-title="new child term"></i>
                </a>
                {% if item['visited'] %}
                  <div class="badge"
                        style="margin: 5px;
                              margin-left:auto;
                              display:inline-block"></div>
                {% else %}
                {% endif %}
                <i style="font-size: 20px;
                          margin: 5px;
                          min-width: 25px;
                          -webkit-text-stroke: 1px"
                    data-bs-toggle="tooltip"
                    data-bs-placement="bottom"
                    data-bs-custom-class="custom-tooltip"
                  ></i>
              </div>
            </div>
            {% set vars = {'last': False} %}
            {% if item['children'] %}
              {% for child in item['children'] %}
                {% if child['datatype'] == 'individual' or child['datatype'] == 'option' %}
                  {% if vars.update({'last': True}) %}
                  {% endif %}
                {% endif %}
              {% endfor %}
              {% if vars.last %}
                <ul class="list-group list-group-flush bg-transparent collapse" id={{ "collapse" ~ item['id_t_version'] }}>
                  <li class="individual">
                    <div style="display: inline-block;">
                      {% for child in item['children'] %}
                        {% if child['datatype'] == 'individual' or child['datatype'] == 'option' %}
                          <span class="individual-term
                              {% if item['visited'] %}read{% else %}notRead{% endif %}
                              {% if item['approved'] %}approved{% else %}notApproved{% endif %}
                          " style="display:none;">
                              <a class="term-name" href={{ url_for("main.view_term", term_version_id=child['id_t_version']) }}
                                  data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-container="body" data-bs-html="true"
                                  data-bs-title="type: {{ child['datatype'] }}</br>status: {% if not item['approved'] %}not{% endif %} approved">{{
                                  child['name'] }}</a>{% if not
                              loop.last %},&nbsp{% endif %}
                          </span>
                        {% endif %}
                      {% endfor %}
                      {% if item['children']|length >= 6 %}<span class="show-more">...show more</span>{% endif %}
                    </div>
                  </li>
                </ul>
              {% endif %}
              <ul class="list-group list-group-flush bg-transparent collapse" id={{ "collapse" ~ item['id_t_version'] }}>
                {{ loop(item['children']) }}
              </ul>
            {% endif %}
          </li>
        {% endfor %}
        <p></p>
      {% endfor %}
    </ul>
    {# <ul id="tree2" class="tree-list tree show-on-load" aria-hidden="true">
      {% for vocpopuli_type in vocpopuli_types %}
        {% include '_list_terms/_vocpopuli_type_badge.html' %}
        {% for item in tree_dict['children'] %}
          {% if (item['datatype'] != 'individual' and item['datatype'] != 'option') and (item['datatype'] != 'record' or
            item['vocpopuli_type'] == key) %}
            <li>
              <div>
                {% include '_list_terms/_chevron.html' %}
                <div class="hover-bkg placeholder-glow">
                  <a class="term-name"
                     style="flex-shrink: 0"
                     class="placeholder placeholder-lg col-2"
                     href=""></a>
                </div>
              </div>
            </li>
          {% endif %}
        {% endfor %}
        <p></p>
      {% endfor %}
    </ul> #}
  </div>
{% endblock %}

{% block scripts %}
{{ super() }}
<script src="{{ url_for('static',filename='js/list_terms.js') }}"></script>
{% endblock scripts %}
