{% extends "base.html" %}
{% block page_content %}
<div class="alert alert-warning alert-dismissible fade show" id="warning_save_reordering" hidden>
  Warning, the restructure needs to be saved. If you leave without saving all changes will be lost.
  <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
</div>
<div class="container" id="list">
  <div class="page-title" style="text-align: center;">
    <h4 class="title" style="white-space: nowrap;">{{ project_name }}</h4>
  </div>

  <div class="btn-toolbar justify-content-between" style="margin-bottom: 10px;">
    <div class="d-flex align-items-center" style="flex-wrap: wrap;">
      <a class="btn btn-primary btn-sm my-1" style="font-size: 16px; white-space: nowrap; margin-right: 10px;" href={{ url_for("main.new_term") }} data-bs-toggle="tooltip" data-bs-placement="right" data-bs-custom-class="custom-tooltip" data-bs-title="Add a new Term.">New Term<i class="bi bi-plus-square" style="margin-left: 5px;"></i></a>
      <div style="display: flex;">
      <form style="margin-left: 10px;">
        <input class="form-control me-2 list-filter" style="border-top-right-radius: 0;
                      border-bottom-right-radius: 0;
                      border-right: none" placeholder="Search Term Names" aria-label="Search">
      </form>
      <div class="btn-group dropend">
        <button type="button" class="btn dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false" style="border-color: lightgrey;
                       font-size: larger;
                       padding: 3px 8px;
                       margin:0;
                       border-top-left-radius: 0;
                       border-bottom-left-radius: 0">
          <i class="bi bi-filter"></i>
        </button>
        <div class="dropdown-menu">
          <div class="form-check term-filter">
            <input class="form-check-input" type="radio" name="flexRadio" id="allTerms" checked>
            <label class="form-check-label" for="allTerms">All</label>
          </div>
          <div class="form-check term-filter">
            <input class="form-check-input" type="radio" name="flexRadio" id="unapproved">
            <label class="form-check-label" for="unapproved">Unapproved</label>
          </div>
          <div class="form-check term-filter">
            <input class="form-check-input" type="radio" name="flexRadio" id="unread">
            <label class="form-check-label" for="unread">Unread</label>
          </div>
        </div>
      </div>
    </div>
      <div id="reloadAction" style="margin-left: auto;" hidden>
        <form method="post" action={{ url_for("main.list_terms") }}>
          New updates to the vocabulary!
          <button class="btn btn-primary btn-sm" type="submit">Reload Page</button>
        </form>
      </div>
    </div>
    <div class="align-items-center btn-group">
      <div>
        <form method="post" id="reordering_form" action={{ url_for("main.save_reordered_list_terms") }}>
          <input type="hidden" value="[]" id="reordering" name="reordering" />
          <input type="hidden" value="[]" id="vocpopuli_type_reordering" name="vocpopuli_type_reordering" />
          <button class="btn list-btn" type="submit" style="min-width: max-content;" id="save_reordering_button" hidden>
            Save Vocabulary Structure <i class="bi bi-save"></i>
          </button>
        </form>
      </div>
      <div>
        <button class="btn list-btn" type="submit" style="min-width: max-content;" id="enable_reordering_button">
          Enable Restructure <i class="bi bi-arrows-move"></i>
        </button>
        <button class="btn list-btn" type="submit" style="min-width: max-content;" id="disable_reordering_button" hidden>
          Disable Restructure <i class="bi bi-arrows-move"></i>
        </button>
      </div>
      <div>
        <form method="get" action={{ url_for("main.download_json") }}>
          <button class="btn list-btn" type="submit" style="min-width: max-content;">
            Download <i class="bi bi-download"></i>
          </button>
        </form>
      </div>
      <div>
        <form action={{ url_for("main.vocabulary_graphs") }}>
          <button class="btn list-btn" type="submit" style="min-width: max-content;">
            Vocabulary Graphs <i class="bi bi-diagram-3"></i>
          </button>
        </form>
      </div>
    </div>
  </div>
  <div class="alert alert-info" role="alert">
    <h4 class="alert-heading">
      <i style="padding: 0 4px" class="bi bi-exclamation-triangle-fill"></i>No matching terms
      found
    </h4>
    <hr>
    <p>Please try different keywords or filters.</p>
  </div>
  <ul class="vocpopuli_types_list" id="vocpopuli_types_list" style="list-style:none;">
    {% for vocpopuli_type in vocpopuli_types %}
    <li draggable="true" id="vocpopuli_type" title="{{ vocpopuli_type.name }}">
      <div class="vocpopuli_type_name_handle">
        {% include '_list_terms/_vocpopuli_type_badge.html' %}
      </div>
      <ul id="tree2" class="tree-list tree list-term-tree sortable-list" title="{{ vocpopuli_type.name }}">
        <li></li>
        {% for item in tree_dict.get(vocpopuli_type['name'], {'children':[]})['children'] recursive %}
        {% if item['vocpopuli_type'] == 'detached' or item['datatype'] not in ('individual', 'option') %}
        <li class="{{ item['class'] }} item term_{{ item['id_t_version'] }}" draggable="true" title="{{item['id_t_global']}}" id="{{ item['id_t_version'] }}">
          <div>
            {% include '_list_terms/_chevron.html' %}
            <div class="hover-bkg" id="movable_header" name="{{item['id_t_global']}}">
              {% if item['datatype'] %}
              <i style="-webkit-text-stroke: 1px;
                            color: {{ datatypes_dict[item['datatype']]['color'] }};
                            padding-left:8px" class="bi {{ datatypes_dict[item['datatype']]['icon'] }}" type="button" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-container="body" data-bs-html="true" data-bs-title="type: {{ item['datatype'] }}"></i>
              {% else %}
              <i style="-webkit-text-stroke: 1px;
                            color: #808080;
                            padding-left:8px" class="bi bi-dash-circle-dotted" type="button" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-container="body" data-bs-html="true" data-bs-title="type: none"></i>
              {% endif %}
              <a class="term-name" id="{{item['id_t_version']}}" style="flex-shrink: 0;" href={{ url_for("main.view_term", term_version_id=item['id_t_version']) }}>{{ item['name'] }}</a>
              {% if item['vocpopuli_type'] != 'detached' and not archive %}<a class="hide" onclick="new_child_term('{{ item['id_t_version'] }}', '{{ item['id_t_global'] }}', '{{ item['datatype'] }}');">
                <i style="font-size: 20px;
                            padding-left: 8px" class="bi bi-plus-square-dotted" type="button" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-custom-class="custom-tooltip" data-bs-title="New Child Term"></i>
              </a>{% endif %}
              <a class="hide"
              onclick="copyTerm('copy_term/{{ item['id_t_version'] }}')">
             <i style="font-size: 20px;
                       padding-left: 8px"
                class="bi bi-clipboard"
                type="button"
                data-bs-toggle="tooltip"
                data-bs-placement="right"
                data-bs-custom-class="custom-tooltip"
                data-bs-title="Copy Term"></i>
              </a>
              {% if "visited_" + item['id_t_version'] + "_" + project_name in session and session["visited_" + item['id_t_version'] + "_" + project_name] == True %}
              <div class="badge" style="margin: 5px;
                              margin-left:auto;
                              display:inline-block"></div>
              {% else %}
              <i style="font-size: 20px;
                            margin: 5px;
                            margin-left:auto" class="bi bi-envelope-fill unread-icon" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-custom-class="custom-tooltip" data-bs-title="unread"></i>
              {% endif %}
              <i style="font-size: 20px;
                          margin: 5px;
                          min-width: 25px;
                          -webkit-text-stroke: 1px" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-custom-class="custom-tooltip" {% if item['approved'] %} class="bi bi-check2-circle" data-bs-title="approved" {% else %} class="bi bi-exclamation-circle unapproved-icon" data-bs-title="not approved" {% endif %}></i>
            </div>
          </div>
          {% set vars = {'last': False} %}
          {% if item['children'] %}
          {% for child in item['children'] %}
          {% if child['datatype'] == 'individual' or child['datatype'] == 'option' %}
          {% if vars.update({'last': True}) %}
          {% endif %}
          {% endif %}
          {% endfor %}
          {% if vars.last %}
          <ul class="list-group list-group-flush bg-transparent collapse sortable-list" id={{ "collapse" ~ item['id_t_version'] }} title="{{item['id_t_global']}}">
            <li class="individual term_{{ item['id_t_version'] }}" title="{{item['id_t_global']}}">
              <div style="display: inline-block;">
                {% for child in item['children'] %}
                {% if child['datatype'] == 'individual' or child['datatype'] == 'option' %}
                <span class="individual-term
                              {% if item['visited'] %}read{% else %}notRead{% endif %}
                              {% if item['approved'] %}approved{% else %}notApproved{% endif %}
                          " style="display:none;">
                  <a class="term-name" href={{ url_for("main.view_term", term_version_id=child['id_t_version']) }} data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-container="body" data-bs-html="true" data-bs-title="type: {{ child['datatype'] }}</br>status: {% if not item['approved'] %}not{% endif %} approved">{{
                    child['name'] }}</a>{% if not
                  loop.last %},&nbsp{% endif %}
                </span>
                {% endif %}
                {% endfor %}
                {% if item['children']|length >= 6 %}<span class="show-more">...show more</span>{% endif %}
              </div>
            </li>
          </ul>
          {% endif %}
          <ul class="list-group list-group-flush bg-transparent collapse sortable-list" id={{ "collapse" ~ item['id_t_version'] }} title="{{item['id_t_global']}}">
            {{ loop(item['children']) }}
          </ul>
          {% endif %}
        </li>
        {% endif %}
        {% endfor %}
        <p></p>
      </ul>
    </li>
    {% endfor %}
  </ul>
</div>
<div hidden>
  <ul>
    <li id="new_term_list_element_blueprint" title="">
      <div>
        <a class="btn collapse-btn" type="button">
          <i style="font-size: 15px; opacity: 0;" class='bi bi-chevron-down expanded'></i>
        </a>
        <div class="d-flex hover-bkg">
          <form method="post" id="new_quick_term_form">
            {{ new_term_form.csrf_token }}
            <div>
              <input type="hidden" name="broader_term_id" id="broader_term_id_input">
            </input>
            <input type="text"
                   class="form-control me-2 list-filter"
                   placeholder="Term Name"
                   name="term_name"
                   id="term_name"
                   required="">
          </input>
          <textarea class="form-control me-2"
                    id="description"
                    name="description"
                    placeholder="Description"
                    rows="1"
                    required=""
                    style="width: 200%;"></textarea>
          <select class="form-select me-2" id="datatype" name="datatype" data-configuration="{{ datatype_configuration }}">
          </select>
          <button class="btn btn-primary btn-sm"
                  id="delete"
                  onclick="deleteCurrentAddition(event)">
            <i class="bi bi-x-lg" style="color: white;"></i>
          </button>
          <button class="btn btn-primary btn-sm"
                  id="edit_further"
                  name="edit_further"
                  value="edit_further"
                  onclick="redirect_child_term_edit(event)"
                  style="white-space: nowrap;">Add More Details</button>
          <button class="btn btn-primary btn-sm"
                  id="save_new_quick_term"
                  name="save_new_quick_term"
                  value="save_new_quick_term">Save</button>
        </div>
      </form>
    </div>
  </div>
</li>
</ul>
              <input type="hidden" name="broader_term_id" id="broader_term_id_input"></input>
              <input type="text" class="form-control me-2 list-filter" placeholder="Term Name" name="term_name" id="term_name" required=""></input>
              <textarea class="form-control me-2" id="description" name="description" placeholder="Description" rows="1" required=""></textarea>
              <select class="form-select me-2" id="datatype" name="datatype">
              </select>
              <button class="btn btn-primary btn-sm" id="delete" onclick="deleteCurrentAddition()"><i class="bi bi-x-lg" style="color: white;"></i></button>
              <button class="btn btn-primary btn-sm" id="edit_further" name="edit_further" value="edit_further" onclick="redirect_child_term_edit(event)">Edit</button>
              <button class="btn btn-primary btn-sm" id="save_new_quick_term" name="save_new_quick_term" value="save_new_quick_term">Save</button>
            </div>
          </form>
        </div>
      </div>
    </li>
  </ul>
</div>
{% endblock %}

{% block scripts %}
  {{ super() }}
  <script src="{{ url_for('static',filename='js/Sortable.js') }}"></script>
  <script src="{{ url_for('static',filename='js/list_terms.js') }}"></script>
  {% if unfold_term != None %}
   <script>unfoldTerm("{{ unfold_term }}");</script>
  {% endif %}
{% endblock scripts %}
