{% extends "base.html" %}
{% import "bootstrap5/form.html" as wtf%}
{% block page_content %}
<div class="page-content">
    <div id="view_term">

    <div class="outline view-term" style="position: absolute;">
        <div class="d-flex align-items-center no-padding">
            <div class="me-auto p-2">
                <h2 class="term-title">
                    {{ data['title'].split('] ')[1] }}
                    <span class="badge"
                        style="font-size: .35em; vertical-align: middle; background-color: {{ vocpopuli_types[data['definition']['vocpopuli_type']]}}">{{
                        data['definition']['vocpopuli type'] }}</span>
                    {% if data['definition']['unit'] != ''%}
                    <span class="badge unit-badge" style="font-size: .35em; vertical-align: middle;">unit: {{ data['definition']['unit'] }}</span>
                    {% endif %}
                </h2>
            </div>

            {% do data['definition'].pop('vocpopuli type') %}
            <div class="p-2 btn-group view-term-item ">
                <a class="btn btn-secondary ms-auto p-2" href={{data['definition'].get('gitlab_raw_url')}} target="_blank" rel="noopener noreferrer" role="button">
                    Download SKOS Serialization
                </a>
            </div>
            <div class="p-2 btn-group view-term-item ">
                <button class="btn btn-secondary dropdown-toggle dropdown-button" type="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false">
                View IDs/PID
                </button>
                <div class="dropdown-menu p-4">
                    {% if data['definition'].get('purl', False) %}
                    <div class="mb-3">
                        <h6>Copy PURL (PID): </h6>
                        <div class="input-group input-group-sm mb-3">
                            <span type="text" class="form-control" aria-describedby="button-addon2">{{data['definition'].get('purl')}}</span>
                            <button class="btn btn-outline-secondary" type="button" id="copy-button-global2" onclick="copy('{{data['definition'].get('purl')}}', '#copy-button-global2')"><i class="bi bi-clipboard"></i></button>
                        </div>
                    </div>
                {% endif %}
                    <div class="mb-3">
                        <h6>Copy Global Term ID: </h6>
                        <div class="input-group input-group-sm mb-3">
                            <span type="text" class="form-control" aria-describedby="button-addon2">{{data['definition'].get('id_t_global')}}</span>
                            <button class="btn btn-outline-secondary" type="button" id="copy-button-global2" onclick="copy('{{data['definition'].get('id_t_global')}}', '#copy-button-global2')"><i class="bi bi-clipboard"></i></button>
                        </div>
                    </div>
                    <div class="mb-3"><hr class="dropdown-divider"></div>
                    <div class="mb-3">
                        <h6>Copy Local Term ID: </h6>
                        <div class="input-group input-group-sm mb-3">
                            <span type="text" class="form-control" aria-describedby="button-addon2">{{data['definition'].get('id_t_local')}}</span>
                            <button class="btn btn-outline-secondary" type="button" id="copy-button-local2" onclick="copy('{{data['definition'].get('id_t_local')}}', '#copy-button-local2')"><i class="bi bi-clipboard"></i></button>
                        </div>
                    </div>
                    <div class="mb-3"><hr class="dropdown-divider"></div>
                    <div class="mb-3">
                        <h6>Copy Term Version ID: </h6>
                        <div class="input-group input-group-sm mb-3">
                            <span type="text" class="form-control" aria-describedby="button-addon2">{{data['definition'].get('id_t_version')}}</span>
                            <button class="btn btn-outline-secondary" type="button" id="copy-button-version2" onclick="copy('{{data['definition'].get('id_t_version')}}', '#copy-button-version2')"><i class="bi bi-clipboard"></i></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <table class="table definition-table outline">
            {% for key,value in data['definition'].items() %}
                {% if key not in ['id_t_global', 'id_t_local', 'id_t_version', 'Image files', 'purl', 'gitlab_raw_url'] %}
                    <tr>
                        <th class = "definition-title">
                            <!---Gray out empty value title-->
                            <p class="
                            {% if value|length == 0 or value[0] == ''  or value[0] == ' '%}
                            grayed-out
                            {% endif %}
                            ">{{ key|capitalize }}</p>
                        </th>
                        <th class = "definition-content">
                            {% if value is not string %}
                                {% for item in value %}
                                    {% if loop.last %}
                                    <a class="link">{{ item | safe }}</a>
                                    {% else %}
                                    <a class="link">{{ item | safe }}</a>,
                                    {% endif %}
                                {% endfor %}
                            {% elif key == "data type" and value == " " %}
                                <i style="-webkit-text-stroke: 1px; color: {{dtype_color_map['none']}}; padding-right:2px" class="bi {{dtype_icon_map['none']}}"></i>
                                none
                            {% else %}
                                {% if key == "data type" %}
                                <i style="-webkit-text-stroke: 1px; color: {{dtype_color_map[value]}}; padding-right:2px" class="bi {{dtype_icon_map[value]}}"></i>
                                {{ value | safe }}
                                {% else %}
                                {{ value | safe }}
                                {% endif %}
                            {% endif %}
                        </th>
                    </tr>
                {% endif %}
            {% endfor %}
        </table>
        <hr class="dashed">
        <div class="container text-center">
            <h5 style="color: white; background-color: lightgray; margin-bottom: 1%; text-align: center; margin-top: 0.1%;">Images</h5>
            <div class="row text-center text-lg-start">
                {% for value in data['definition']['Image files'] %}
                    {% if value is not none%}
                    <div class="col-3">
                        <a class="img-container" href=#>
                            <img src="data:image/{{ value[2] }};base64,{{ value[1] }}" class="img-fluid" data-bs-toggle="modal" data-bs-target="#imgModal">
                        </a>
                    </div>
                    {% endif %}
                {% endfor %}
                <div class="modal fade" style="z-index: 10001;" id="imgModal" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-fullscreen modal-dialog-centered modal-dialog-scrollable">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h1 class="modal-title fs-5" id="modalLabel">Images</h1>
                          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <div id="imageCarousel" class="carousel carousel-dark slide">
                                <div class="carousel-inner">
                                    {% for value in data['definition']['Image files'] %}
                                        {% if value is not none%}
                                            <div class="carousel-item {% if loop.index == 1 %}active{% endif %}">
                                                <div class="image-frame">
                                                    <img src="data:image/{{ value[2] }};base64,{{ value[1] }}" class="d-block w-100">
                                                </div>
                                            </div>
                                        {% endif %}
                                    {% endfor %}
                                </div>
                                <button class="carousel-control-prev" type="button" data-bs-target="#imageCarousel" data-bs-slide="prev">
                                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                  <span class="visually-hidden">Previous</span>
                                </button>
                                <button class="carousel-control-next" type="button" data-bs-target="#imageCarousel" data-bs-slide="next">
                                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                  <span class="visually-hidden">Next</span>
                                </button>
                              </div>
                        </div>
                      </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    </div>
</div>
{% endblock %}
