{% extends "base.html" %}
{% block page_content %}
  <div class="container">
    <div class="d-flex align-items-center">
      <table class="table table-hover table-sticky-header">
        <thead>
          <tr>
            <th>Type Name</th>
            <th>Type Definition</th>
            <th>Related IRI</th>
            <th>
              <button class="btn btn-sm btn-primary"
                      id="save-structure-button"
                      style="visibility: hidden !important">Save Order</button>
            </th>
          </tr>
        </thead>
        <tbody id="sortable-table">
          {% for type_ in types %}
            <tr draggable="true"
                class="type_row"
                value="{{ type_["id_t_global"] }}"
                ondblclick="editRelationshipType(this, '{{ type_["label"] }}', '{{ type_["definition"] }}', '{{ type_["related_iri"] }}', '{{ type_["id_t_global"] }}')">
              <td>{{ type_["label"] }}</td>
              <td>{{ type_["definition"] }}</td>
              <td>{{ type_["related_iri"] }}</td>
              <td>
                <div class="hidden-buttons">
                  <a {% if type_["instances"] == 0 %}onclick="submitForm('delete_{{ type_["id_t_global"] }}');"{% endif %}
                     class="delete-link">
                    <i style="font-size: 20px;
                              padding-left: 8px"
                       class="bi bi-trash"
                       type="button"
                       data-bs-toggle="tooltip"
                       data-bs-placement="right"
                       data-bs-custom-class="custom-tooltip"
                       {% if type_["instances"] == 0 %} data-bs-title="Delete '{{ type_["label"] }}'" {% else %} data-bs-title="'{{ type_["label"] }}' can't be deleted, it has {{ type_["instances"] }} instances."{% endif %}></i></a>
                  <i style="font-size: 20px;
                            padding-left: 8px"
                     class="bi bi-arrows-move handle"
                     type="button"
                     data-bs-toggle="tooltip"
                     data-bs-placement="right"
                     data-bs-custom-class="custom-tooltip"
                     data-bs-title="Drag to move"></i>
                </div>
                <div hidden>
                  <form action={{ url_for(".remove_relationship_type", type_id=type_["id_t_global"]) }} method="post" id="delete_{{ type_["id_t_global"] }}">
                    <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
                  </form>
                </div>
              </td>
            </tr>
          {% endfor %}
        </tbody>
        <tfoot>
          <form action={{ url_for(".relationship_types") }} method="post">
            {{ create_relationship_type_form.csrf_token }}
            <tr>
              <td class="type-input-text-field">{{ create_relationship_type_form.label(class_='form-control') }}</td>
              <td class="type-input-text-field">{{ create_relationship_type_form.definition(class_='form-control') }}</td>
              <td>{{ create_relationship_type_form.related_iri(class_='form-control') }}</td>
              <td class="type-input-text-field">{{ create_relationship_type_form.submit }}</td>
            </tr>
          </form>
        </tfoot>
      </table>
    </div>
  </div>
  <div hidden>
    <form action="{{ url_for(".reorder_relationshiptypes") }}"
          method="post"
          id="save-structure-form">
      <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
      <input type="text"
             id="new_order_input"
             value="new_order_input"
             name="new_order_input">
    </input>
  </form>
</div>
<div hidden>
  <table id="form-table">
    <tr id="edit_form_row">
      <form action={{ url_for(".edit_relationship_type") }} method="post" id="save-structure-form">
        {{ create_relationship_type_form.csrf_token }}
        <td id="edit_label"></td>
        <td>{{ create_relationship_type_form.definition(id_="edit_definition", class_='form-control') }}</td>
        <td>{{ create_relationship_type_form.related_iri(id_="edit_related_iri", class_='form-control') }}</td>
        <td style="white-space: nowrap">
          {{ create_relationship_type_form.submit (value_="Save") }}
          <button class="btn btn-primary" id="stop_editing_button">x</button>
        </td>
        <input type="hidden" id="relationship_id" name="relationship_id">
      </input>
    </form>
  </tr>
</table>
</div>
{% endblock page_content %}
{% block scripts %}
  {{ super() }}
  <script src="{{ url_for('static',filename='js/Sortable.js') }}"></script>
  <script src="{{ url_for('static',filename='js/types.js') }}"></script>
{% endblock scripts %}
