{% extends "base.html" %}
{% import "term_form/_relationship_form.html" as _relationship_form %}

{% block page_content %}
  {% include "components/_sidebar.html" %}
  <div class="page-content" style="padding-bottom: 30px;">
    <form id="termForm" class="border rounded {% block class_name %}{% endblock %}" enctype="multipart/form-data" action={%
      block action %}{% endblock %} method="POST">
      {{ form.csrf_token }}
      <div class="d-flex align-items-center flex-wrap">
        <div>
          <h2 class="title">
            {% block page_title %}{% endblock %}
          </h2>
        </div>
        <div class="ms-auto submit">{{ form.submit_btn(class_='btn btn-colour') }}</div>
      </div>
      <hr class="solid">
      <div class="row gy-5" style="padding-top: 35px;">
        <div class="col-md-6 term_form_input_field">
          <label class="form-label input-required">{{ form.label.label }}</label>
          {{ form.label(class_='form-control') }}
        </div>
          <div class="col-md-6" style="padding-top: 1%">
            {{ form.required() }}
            <label for="required" class="form-check-label self-align-end">Required</label>
        </div>
        <div class="col-md-12 term_form_input_field">
          <label class="form-label input-required">{{ form.definition.label }}</label>
          {{ form.definition(class_='form-control') }}
        </div>
        <div class="col-md-12 term_form_input_field">
          <label class="form-label">{{ form.reference.label }}</label>
          {{ form.reference(class_='form-control') }}
        <div class="form-text">{{ form.reference.description }}</div>
      </div>
        <div class="col-md-12 term_form_input_field" id="broader-div">
          <div class="d-flex justify-content-between p-0">
            {{ form.broader.label(class_="form-label", id="collapse-control") }}
            <span class="toplevel-sign" id="toplevel_sign">This is now a top level term</span></div>
          <div id="collapseBroader">
            <input class="form-control form-filter" placeholder="Type to search..." onkeydown="return (event.key != 'Enter');">
            {{ form.broader(class_='form-control select-checkbox options easy-select', id_="broader") }}
            <label class="form-label">Selected Terms:</label>
            <h6 class="selected-options selected-broaders"></h6>
          </div>
        </div>
        <div class="col-md-6 term_form_input_field" id="contexttype-div">
          <label class="form-label input-required">{{ form.vocpopuli_type.label }}</label>
          <i class="bi bi-info-circle"
             type="button"
             data-bs-toggle="tooltip"
             data-bs-placement="right"
             data-bs-container="body"
             data-bs-html="true"
             data-bs-title="This is needed to organize your views on VocPopuli.">
          </i>
          <select class="form-select" id="contexttype" name="vocpopuli_type" required>
            {% for option in form.vocpopuli_type %}
              {% if loop.first %}<option value="" disabled selected>-- select an option --</option>{% endif %}
              {{ option }}
            {% endfor %}
          </select>
          <div class="form-text">{{ form.vocpopuli_type.description }}</div>
        </div>
        <div class="col-md-6 term_form_input_field">
          {{ form.datatype.label(class_="form-label input-required") }}
          <i class="bi bi-info-circle" type="button" data-bs-toggle="tooltip" data-bs-container="body" data-bs-html="true" data-bs-title="
            <div class='datatype-tooltip-content'>
              {% for datatype in data_types_dict %}
                <b>{{ datatype }}:</b> {{ data_types_dict[datatype]['help_text'] }}
                </br>
              {% endfor %}
            </div>">
          </i>

{{ form.datatype(class_='form-select', id_='datatype-field') }}
<div class="form-text">{{ form.datatype.description }}</div>
</div>
<div class="col-md-6 numeric-field-metadata term_form_input_field" id="unit-div">
  {{ form.unit.label(class_="form-label") }}
  {{ form.unit(class_='form-control unit') }}
</div>
<div class="col-md-6 numeric-field-metadata term_form_input_field">
  <div class="row">
    <label class="form-label">Range:</label>
    <div class="col-5">{{ form.min_(class_="form-control min-field") }}</div>
    <div class="col-1 position-relative">&#8211;</div>
    <div class="col-5">{{ form.max_(class_="form-control max-field") }}</div>
  </div>
</div>

<div class="col-md-6 term_form_input_field">
  {{ form.synonym.label(class_="form-label") }}
  {{ form.synonym(class_='form-control') }}
  <div class="form-text">{{ form.s_descr }}</div>
</div>
<div class="col-md-6 term_form_input_field">
  {{ form.translations.label(class_="form-label") }}
  {{ form.translations(class_='form-control') }}
  <div class="form-text">{{ form.t_descr }}</div>
</div>
<div class="col-md-12 term_form_input_field" id="related-div">
  {{ form.related.label(class_="form-label") }}
  <i class="bi bi-info-circle"
     type="button"
     data-bs-toggle="tooltip"
     data-bs-placement="right"
     data-bs-container="body"
     data-bs-html="true"
     data-bs-title="Only applicable to top-level terms.">
  </i>
  <input class="form-control form-filter" placeholder="Type to search..." onkeydown="return (event.key != 'Enter');">
  {{ form.related(class_='form-control select-checkbox options easy-select', id_="related") }}
  <label class="form-label">Selected Terms:</label>
  <h6 class="selected-options"></h6>
</div>
<div class="col-md-12 term_form_input_field">
  {{ form.related_external.label(class_="form-label") }}
  {{ form.related_external(class_='form-control') }}
  <div class="form-text">{{ form.r_e_descr }}</div>
</div>
<div class="col-md-12" id="custom-related-div">
  {{ _relationship_form.relationship_form(_template, "_") }}
  <div id="relationship-forms">
    {% for relationship in form.custom_relationships %}
      {{ _relationship_form.relationship_form(relationship, loop.index0) }}
    {% endfor %}
  </div>
  <button class="btn btn-primary btn-sm" id="add-relationship-form">Add Custom Relationship</button>
</div>
<div class="col-md-12">
  <label class="form-label" for="images">Image Upload (optional)</label>
  <input class="form-control"
         id="images"
         multiple=""
         name="images"
         type="file">
  {% if self._TemplateReference__context.name == 'edit_term.html' %}
    <input class="form-check-input"
           id="keep_prev_imgs"
           name="keep_prev_imgs"
           type="checkbox"
           checked>
    <label class="form-check-label" for="keep_prev_imgs">Keep the previous version's images</label>
  {% endif %}
</div>
<div class="d-flex align-items-center">
  <div class="ms-auto submit">{{ form.submit_btn(class_='btn btn-colour') }}</div>
</div>
</div>
</form>
        
</div>
{% endblock page_content %}

{% block scripts %}
{{ super() }}
<script src="{{ url_for('static',filename='js/term_form.js') }}"></script>
<script src="{{ url_for('static',filename='js/sidebar.js') }}"></script>
{% endblock scripts %}
