{% import "bootstrap5/form.html" as wtf %}
{% extends "base.html" %}
{% block page_content %}
  <div class="container">
    <h1>User settings</h1>
    {{ wtf.render_form(user_settings_form) }}
  </div>
{% endblock page_content %}
