{% extends "base_bank.html" %}
{% import "bootstrap5/form.html" as wtf%}
{% import "view_term/_copy_button.html" as _copy_button %}

{% block page_title %}{{ term_version['label'] }}{% endblock page_title %}

{% block page_content %}
{% include "components/_sidebar.html" %}
<div class="page-content">
    <!---Term definition-->
    <div id="view_term">
        <nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='%236c757d'/%3E%3C/svg%3E&#34;);"
            aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href={{ url_for("main.list_terms") }}>List terms</a></li>
                <li class="breadcrumb-item active" aria-current="page">{{ term_version['label'] }}
                </li>
            </ol>
        </nav>
        <div class="outline view-term">
            <div class="d-flex align-items-center no-padding" style="flex-wrap: wrap;">
                <div class="p-2 flex-grow-1">
                    <div class="p-2 flex-grow-1">
                        <h2 class="term-title">
                            {{ term_version['label'] }}
                        </h2>
                        <div style="display: inline-block;">
                            <span class="badge"
                                style="vertical-align: middle; background-color: {{ vocpopuli_types[term_version['vocpopuli_type']] }};">{{
                                term_version["vocpopuli_type"] }}</span>
                            {% if term_version['unit'] != ''%}
                            <span class="badge unit-badge" style="vertical-align: middle;">unit: {{
                                term_version['unit'] }}</span>
                            {% endif %}
                            {% if term_version['status'] == 'approved' %}
                            <span class="badge bg-success" style="vertical-align: middle;">approved</span>
                            {% elif term_version['status'] == 'not approved' %}
                            <span class="badge bg-danger" style="vertical-align: middle;">not
                                approved</span>
                            {% elif term_version['status'] == 'deprecated' %}
                            <span class="badge bg-secondary" style="vertical-align: middle;">deprecated</span>
                            {% endif %}
                            {% if term_version['required'] %}
                            <i style="color: #6fbbc2; font-size:medium" class="bi bi-check-circle-fill" type="button"
                                data-bs-toggle="tooltip" data-bs-placement="top" data-bs-container="body"
                                data-bs-html="true" data-bs-title="Required"></i>
                            {% endif %}
                        </div>
                    </div>
                </div>

                <div class="p-2 view-buttons">
                    <a class="btn btn-colour_bank edit-button" href={{ url_for("main.import_term",
                        term_version_id=term_version['id']) }} role="button">
                        Import Term
                    </a>
                    <a class="btn btn-colour_bank edit-button" href={{ url_for("main.import_branch_of_term",
                        term_version_id=term_version['id']) }} role="button">
                        Import Branch of Term
                    </a>
                    <div class="btn-group view-term-item">
                        <button class="btn btn-secondary dropdown-toggle dropdown-button" type="button"
                            data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false">
                            ID
                        </button>
                        <div class="dropdown-menu p-4">
                            {% if 'purl' in term_version %}
                            <div class="mb-3">
                                <h6>Copy PURL (PID): </h6>
                                <div class="input-group input-group-sm mb-3">
                                    <span type="text" class="form-control"
                                        aria-describedby="button-addon2">{{term_version['purl']}}</span>
                                        <button
                                        class="btn btn-outline-secondary copy-button"
                                        type="button"
                                        id="copy-button-purl2"
                                        {# onclick="copy('{{term_version['purl']}}', 'copy-button-global2')" #}
                                    ><i class="bi bi-clipboard"></i></button>
                                </div>
                            </div>
                            {% endif %}
                            <div class="mb-3">
                                <h6>Copy Global Term ID: </h6>
                                <div class="input-group input-group-sm mb-3">
                                    <span type="text" class="form-control"
                                        aria-describedby="button-addon2">{{term_version['term_id']}}</span>
                                        <button
                                        class="btn btn-outline-secondary copy-button"
                                        type="button"
                                        id="copy-button-global2"
                                        {# onclick="copy('{{term_version['purl']}}', 'copy-button-global2')" #}
                                    ><i class="bi bi-clipboard"></i></button>
                                </div>
                            </div>
                            <div class="mb-3">
                                <hr class="dropdown-divider">
                            </div>
                            <div class="mb-3">
                                <h6>Copy Local Term ID: </h6>
                                <div class="input-group input-group-sm mb-3">
                                    <span type="text" class="form-control"
                                        aria-describedby="button-addon2">{{term_version['id_t_local']}}</span>
                                        <button
                                        class="btn btn-outline-secondary copy-button"
                                        type="button"
                                        id="copy-button-local2"
                                        {# onclick="copy('{{term_version['purl']}}', 'copy-button-global2')" #}
                                    ><i class="bi bi-clipboard"></i></button>
                                </div>
                            </div>
                            <div class="mb-3">
                                <hr class="dropdown-divider">
                            </div>
                            <div class="mb-3">
                                <h6>Copy Term Version ID: </h6>
                                <div class="input-group input-group-sm mb-3">
                                    <span type="text" class="form-control"
                                        aria-describedby="button-addon2">{{term_version['id']}}</span>
                                        <button
                                        class="btn btn-outline-secondary copy-button"
                                        type="button"
                                        id="copy-button-version2"
                                        {# onclick="copy('{{term_version['purl']}}', 'copy-button-global2')" #}
                                    ><i class="bi bi-clipboard"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <table class="table definition-table outline">
                {% for key in fields %}
                {% if key in term_version %}
                {# not in ['id_t_global', 'id_t_local', 'id_t_version', 'Image files', 'purl', 'gitlab_skos_url'] #}
                <tr>
                    <th scope="col" class="definition-title">
                        <!---Gray out empty value title-->
                        <p class="
                            {% if not term_version[key] or not term_version[key][0].strip() %}
                            grayed-out
                            {% endif %}
                            ">{{ key.replace('_', '')|capitalize }}</p>
                    </th>
                    <td scope="col" class="definition-content" style="word-wrap: break-word;">
                        {% if term_version[key] is string %}
                            {% if key == "datatype" %}
                            <i style="-webkit-text-stroke: 1px; color: {{ datatypes_dict[term_version['datatype']]['color'] }}; padding-right:2px"
                                class="bi {{ datatypes_dict[term_version['datatype']]['icon'] }}"></i>
                            {% endif %}
                            {{ term_version[key] | safe }}
                        {% else %}
                            {% for item in term_version[key] %}
                            {{ item | safe }}{% if not loop.last %}, {% endif %}
                            {% endfor %}
                        {% endif %}
                    </td>
                </tr>
                {% endif %}
                {% endfor %}
            </table>

            {% if images %}
            <hr class="dashed">
            <div class="text-center">
                <h5
                    style="color: white; background-color: lightgray; margin-bottom: 1%; text-align: center; margin-top: 0.1%;">
                    Images</h5>
                <div class="row text-center text-lg-start">
                    {% for image in images %}
                    <div class="col-3" data-bs-toggle="modal" data-bs-target="#imgModal">
                        <a class="img-container" id="img-number-{{ loop.index }}" data-bs-target="#imageCarousel"
                            data-bs-slide-to="{% if loop.last %}0{% else %}{{ loop.index + 1 }}{% endif %}" href=#>
                            <img src="{{image}}" class="img-fluid">
                        </a>
                    </div>
                    {% endfor %}
                </div>
            </div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock page_content %}

{% block scripts %}
{{ super() }}
<script src="{{ url_for('static',filename='js/view_term.js') }}"></script>
<script src="{{ url_for('static',filename='js/sidebar.js') }}"></script>
{% endblock scripts %}
