{% extends "base.html" %}
{% import "bootstrap5/form.html" as wtf%}
{% import "view_term/_copy_button.html" as _copy_button %}

{% block page_title %}{{ term_version['label'] }}{% endblock page_title %}

{% block page_content %}
{% include "components/_sidebar.html" %}
<div class="page-content">
    <!---Term definition-->
    <div id="view_term">
        <div class="d-flex p-0 justify-content-between" style="padding: 0px important!;">
        <nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='%236c757d'/%3E%3C/svg%3E&#34;); display: inline;"
            aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href={{ url_for("main.list_terms") }}>List Terms</a></li>
                <li class="breadcrumb-item active" aria-current="page">{{ term_version['label'] }}
                    <span class="badge bg-secondary" style="font-size: 10px; vertical-align: middle;">
                        {% if term_version['issue_version'] == 0 %}
                        [Initial Version]
                        {% else %}
                        [Version Update #{{ term_version['issue_version'] }}]
                        {% endif %}
                    </span>
                </li>
            </ol>
        </nav>
        <div class="ms-auto">
          {% if term_version["vocpopuli_type"] != None %}
            <span class="badge"
                  style="vertical-align: middle;
                         align: right;
                         background-color: {{ vocpopuli_type_colors[term_version['vocpopuli_type']] }}">{{
            term_version["vocpopuli_type"] }}</span>
          {% endif %}
        </div>
      </div>
      <div class="outline mt-0 view-term">
        <div class="d-flex align-items-center no-padding" style="flex-wrap: wrap;">
          <div class="p-2 flex-grow-1">
            <div class="p-2 flex-grow-1 d-flex align-items-center flex-wrap">
              <div style="display: inline-block;">
                <h2 class="term-title" style="display: inline; word-break: break-word; margin-right: 8px;">{{ term_version['label'] }}</h2>
              </div>
              <div>
                {% if term_version['status'] == 'approved' %}
                  <span class="badge bg-success" style="vertical-align: middle;">approved</span>
                {% elif term_version['status'] == 'not approved' %}
                  <span class="badge bg-danger" style="vertical-align: middle;">not
                  approved</span>
                {% elif term_version['status'] == 'deprecated' %}
                  <span class="badge bg-secondary" style="vertical-align: middle;">deprecated</span>
                {% endif %}
                {% if term_version['unit'] != '' %}
                  <span class="badge unit-badge" style="vertical-align: middle;">unit: {{
                  term_version['unit'] }}</span>
                {% endif %}
                {% if term_version['required'] %}
                  <i style="color: #6fbbc2;
                            font-size:medium"
                     class="bi bi-check-circle-fill"
                     type="button"
                     data-bs-toggle="tooltip"
                     data-bs-placement="top"
                     data-bs-container="body"
                     data-bs-html="true"
                     data-bs-title="Required"></i>
                {% endif %}
              </div>
            </div>
          </div>
          <div class="flex-grow-1"></div>
          <div class="p-2 view-buttons flex-grow-1 d-flex flex-row-reverse">
            <div>
            {% if term_version['status'] in ('approved', 'not approved') %}
              <a class="btn btn-colour edit-button my-1" href={{ url_for("main.edit_term",
                term_version_id=term_version['id']) }} role="button">
                Edit Term
              </a>
            {% endif %}
            <a class="btn btn-colour edit-button my-1" href={{ url_for("main.child_term",
              term_version_id=term_version['id']) }} role="button">
              Add Child Term
            </a>
            <div class="btn-group view-term-item">
              <button class="btn btn-secondary dropdown-toggle dropdown-button my-1"
                      type="button"
                      data-bs-toggle="dropdown"
                      aria-expanded="false">Version</button>
              <ul class="dropdown-menu">
                {% for version in all_term_versions %}
                  <li>
                    <a class="dropdown-item term-version-item" href={{ url_for('main.view_term',
                      term_version_id=version['id']) }}>
                      {% if version['issue_version'] == 0 %}
                        [Initial version]
                      {% else %}
                        [Version Update #{{ version['issue_version'] }}]
                      {% endif %}
                    {{ version['label'] }}</a>
                  </li>
                {% endfor %}
              </ul>
            </div>
            <div class="btn-group view-term-item">
                <button type="button" class="btn btn-secondary version-tree-btn" onclick="showGraph();">
                    <i style="display:inline-block;" class="bi bi-diagram-3 rotate-90" data-bs-toggle="tooltip" data-bs-placement="top" title="Version Graph"></i>
                </button>
            </div>
            <div class="btn-group view-term-item">
              <button class="btn btn-secondary dropdown-toggle dropdown-button my-1"
                      type="button"
                      data-bs-toggle="dropdown"
                      data-bs-auto-close="outside"
                      aria-expanded="false">ID</button>
              <div class="dropdown-menu p-4">
                {% if 'purl' in term_version %}
                  <div class="mb-3">
                    <h6>Copy PURL (PID):</h6>
                    <div class="input-group input-group-sm mb-3">
                      <span type="text" class="form-control" aria-describedby="button-addon2">{{ term_version['purl'] }}</span>
                      {{ _copy_button.btn("copy-button-purl2") }}
                    </div>
                  </div>
                {% endif %}
                <div class="mb-3">
                  <h6>Copy Global Term ID:</h6>
                  <div class="input-group input-group-sm mb-3">
                    <span type="text" class="form-control" aria-describedby="button-addon2">{{ term_version['term_id'] }}</span>
                    {{ _copy_button.btn("copy-button-global2") }}
                  </div>
                </div>
                <div class="mb-3">
                  <hr class="dropdown-divider">
                </div>
                <div class="mb-3">
                  <h6>Copy Local Term ID:</h6>
                  <div class="input-group input-group-sm mb-3">
                    <span type="text" class="form-control" aria-describedby="button-addon2">{{ term_version['id_t_local'] }}</span>
                    {{ _copy_button.btn("copy-button-local2") }}
                  </div>
                </div>
                <div class="mb-3">
                  <hr class="dropdown-divider">
                </div>
                <div class="mb-3">
                  <h6>Copy Term Version ID:</h6>
                  <div class="input-group input-group-sm mb-3">
                    <span type="text" class="form-control" aria-describedby="button-addon2">{{ term_version['id'] }}</span>
                    {{ _copy_button.btn("copy-button-version2") }}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        </div>
        </div>
        <div class="version-tree" id="version-graph" data-tree="{{ related_version_json }}" hidden>
            <div class="version-tree-control p-2">
                <a class="graph-btn" onclick="zoomIn()"><i class="bi bi-zoom-in"></i></a>
                <a class="graph-btn" onclick="zoomOut()"><i class="bi bi-zoom-out"></i></a>
                <a class="graph-btn" onclick="resetZoom()"><i class="bi bi-arrow-repeat"></i></a>
                <button type="button" class="btn-close version-close-btn" style="float: right;" aria-label="Close" onclick="hideGraph();"></button>
            </div>
            <div class="color-legend">Earliest<div class="color-gradient"></div>Latest</div>
        </div>

        <table class="table definition-table outline">
          {% for key in fields %}
            {% if not term_version[key] or not term_version[key][0].strip() %}
              {# skip the field #}
            {% elif key in term_version %}
              {# not in ['id_t_global', 'id_t_local', 'id_t_version', 'Image files', 'purl', 'gitlab_skos_url'] #}
              <tr>
                <th scope="col" class="definition-title">
                  <!---Gray out empty value title-->
                  <p class=" {% if not term_version[key] or not term_version[key][0].strip() %}grayed-out{% endif %} ">
                    {% if key == 'datatype' %}
                      Data Type
                    {% else %}
                      {{ key.replace('_', '') |capitalize }}
                    {% endif %}
                  </p>
                </th>
                <td scope="col" class="definition-content" style="word-wrap: break-word;">
                  {% if term_version[key] is string %}
                    {% if key == "datatype" %}
                      <i style="-webkit-text-stroke: 1px;
                                color: {{ datatypes_dict[term_version['datatype']]['color'] }};
                                padding-right:2px"
                         class="bi {{ datatypes_dict[term_version['datatype']]['icon'] }}"></i>
                    {% endif %}
                    {{ term_version[key] | safe }}
                            {% if key == "definition" and term_version["reference"] %}
                                <p align="right" style="margin: 0; font-size:75%;">{{ term_version["reference"]|urlize }}</p>
                            {% endif %}
                  {% else %}
                    {% for item in term_version[key] %}
                      {{ item | safe }}
                      {% if not loop.last %},{% endif %}
                    {% endfor %}
                  {% endif %}
                </td>
              </tr>
            {% endif %}
          {% endfor %}
        </table>
        <table class="table definition-table outline">
          {# broader #}
          {% if term_version['broader'] and term_version['broader'][0].strip() %}
          <tr>
            <th scope="col" class="definition-title">
              <!---Gray out empty value title-->
              <p class=" {% if not term_version['broader'] or not term_version['broader'][0].strip() %}grayed-out{% endif %} ">
                Part of
              </p>
            </th>
            <td scope="col" class="definition-content" style="word-wrap: break-word;">
              {% for item in term_version['broader'] %}
                <a href={{ url_for("main.view_term", term_version_id=item) }}>{{ term_version["broader_labels"][loop.index0] }}</a>
                {% if not loop.last %},{% endif %}
              {% endfor %}
            </td>
          </tr>
          {% endif %}
          {# related #}
          {% if term_version['related'] and term_version['related'][0].strip() %}
          <tr>
            <th scope="col" class="definition-title">
              <!---Gray out empty value title-->
              <p class=" {% if not term_version['related'] or not term_version['related'][0].strip() %}grayed-out{% endif %} ">
                Related
              </p>
            </th>
            <td scope="col" class="definition-content" style="word-wrap: break-word;">
              {% for item in term_version['related'] %}
                <a href={{ url_for("main.view_term", term_version_id=item) }}>{{ term_version["related_labels"][loop.index0] }}</a>
                {% if not loop.last %},{% endif %}
              {% endfor %}
            </td>
          </tr>
          {% endif %}
          {# related_external #}
          {% if term_version['related_external_terms'] and term_version['related_external_terms'][0].strip() %}
          <tr>
            <th scope="col" class="definition-title">
              <!---Gray out empty value title-->
              <p class=" {% if not term_version['related_external_terms'] or not term_version['related_external_terms'][0].strip() %} grayed-out {% endif %} ">
                Related (external)
              </p>
            </th>
            <td scope="col" class="definition-content" style="word-wrap: break-word;">
              {% for item in term_version['related_external_terms'] %}
                <a href="{{ item | safe }}">{{ item | safe }}</a>
                {% if not loop.last %},{% endif %}
              {% endfor %}
            </td>
          </tr>
          {% endif %}
          {# custom relationships #}
          {% for relationship in custom_relationships %}
            <tr>
              <th class="definition-title" scope="col">
                <p>{{ relationship["type_"]["label"] }}</p>
              </th>
              <td scope="col" class="definition-content" style="word-wrap: break-word">
                {% for related_term in relationship["related"] %}
                  <a href={{ url_for("main.view_term", term_version_id=related_term["latest_term_version_id"]) }}>{{ related_term["label"] }}</a>
                  {% if not loop.last %},{% endif %}
                {% endfor %}
              </td>
            </tr>
          {% endfor %}
        </table>
        {% if images %}
          <hr class="dashed">
          <div class="text-center">
            <h5 style="color: white;
                       background-color: lightgray;
                       margin-bottom: 1%;
                       text-align: center;
                       margin-top: 0.1%">Images</h5>
            <div class="row text-center text-lg-start">
              {% for image in images %}
                <div class="col-3" data-bs-toggle="modal" data-bs-target="#imgModal">
                  <a class="img-container"
                     id="img-number-{{ loop.index }}"
                     data-bs-target="#imageCarousel"
                     data-bs-slide-to="{% if loop.last %}0{% else %}{{ loop.index + 1 }}{% endif %}"
                     href>
                    <img src="{{ image }}" class="img-fluid">
                  </a>
                </div>
              {% endfor %}
              <div class="modal"
                   style="z-index: 10001;
                          padding:0"
                   id="imgModal"
                   aria-labelledby="modalLabel"
                   aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered image-modal">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h1 class="modal-title fs-5" id="modalLabel">Images</h1>
                      <button type="button"
                              class="btn-close"
                              id="modal-close"
                              data-bs-dismiss="modal"
                              aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                      <div id="imageCarousel"
                           class="carousel carousel-dark"
                           data-bs-interval="false">
                        <div class="carousel-inner">
                          {% for image in images %}
                            {% if image is not none %}
                              <div class="carousel-item {% if loop.index == 1 %}active{% endif %}">
                                <div class="image-frame">
                                  <img src="{{ image }}" class="d-block w-100">
                                </div>
                              </div>
                            {% endif %}
                          {% endfor %}
                        </div>
                        <button class="carousel-control-prev"
                                type="button"
                                data-bs-target="#imageCarousel"
                                data-bs-slide="prev">
                          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                          <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next"
                                type="button"
                                data-bs-target="#imageCarousel"
                                data-bs-slide="next">
                          <span class="carousel-control-next-icon" aria-hidden="true"></span>
                          <span class="visually-hidden">Next</span>
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        {% endif %}
        <hr class="dashed">
        <span>Inbound relationships can be found in the <a href="/vocabulary_graphs">relationship graph</a>.</span>
        <hr class="dashed">
        <div class="d-flex justify-content-between no-padding">
          <div class="no-padding">
            <!---Upvote/Downvote buttons-->
            {% if user_vote == "up" %}
              <a class="btn upvoted outline p-2 my-1"
                 href="?vote=up"
                 role="button"
                 data-bs-toggle="tooltip"
                 data-bs-placement="bottom"
                 title="upvoted">
                <i class="bi bi-hand-thumbs-up-fill p-2"></i>
              {% else %}
                <a class="btn upvote outline p-2 my-1"
                   href="?vote=up"
                   role="button"
                   data-bs-toggle="tooltip"
                   data-bs-placement="bottom"
                   title="click to upvote">
                  <i class="bi bi-hand-thumbs-up p-2"></i>
                {% endif %}
                {{ votes['thumbs_up'] }}
              </a>
              {% if user_vote == "down" %}
                <a class="btn downvoted outline p-2 my-1"
                   href="?vote=down"
                   role="button"
                   data-bs-toggle="tooltip"
                   data-bs-placement="bottom"
                   title="downvoted">
                  <i class="bi bi-hand-thumbs-down-fill p-2"></i>
                {% else %}
                  <a class="btn downvote outline p-2 my-1"
                     href="?vote=down"
                     role="button"
                     data-bs-toggle="tooltip"
                     data-bs-placement="bottom"
                     title="click to downvote">
                    <i class="bi bi-hand-thumbs-down p-2"></i>
                  {% endif %}
                  {{ votes['thumbs_down'] }}
                </a>
              </div>
              <div class="justify-content-end" style="text-align: right;">
                {% if 'gitlab_skos_url' in term_version %}
                  <a class="btn btn-outline-secondary ms-auto p-2 my-1" style="width:140px;" href={{term_version['gitlab_skos_url']}} rel="noopener noreferrer" role="button">
                    Download SKOS
                  </a>
                {% endif %}
                {% if not is_archived %}
                  <a class="btn btn-danger ms-auto p-2 my-1" style="width:140px;" href={{ url_for("main.archive_term",
                    term_version_id=term_version['id']) }} role="button">
                    Archive Term <i class="bi bi-archive" style="margin-left:5px;"></i>
                  </a>
                {% elif is_archived %}
                  <a class="btn btn-danger ms-auto p-2 my-1" style="width:140px;" role="button" onclick="confirmDeletion('{{ url_for('main.delete_term', term_version_id=term_version['id']) }}')">
                    Delete Term <i class="bi bi-trash" style="margin-left:5px; width:140px;"></i>
                  </a>
                {% endif %}

                {% if is_archived %}
                  <a class="btn btn-warning ms-auto p-2 float-right" href={{ url_for("main.restore_term",
                    term_version_id=term_version['id']) }} role="button">
                    Restore Term <i class="bi bi-check-square" style="margin-left:5px"></i>
                  </a>
                {% elif term_version['status'] == 'not approved' %}
                  <a class="btn btn-success ms-auto p-2 float-right my-1" style="font-size: 15px; width:140px;" href={{ url_for("main.approve_term",
                    term_version_id=term_version['id']) }} role="button">
                    Approve Term <i class="bi bi-check-square" style="margin-left:5px"></i>
                  </a>
                {% endif %}
              </div>
            </div>
            <p>
        

        <hr class="dashed">

        <!---Comments-->
        <h5 class="discussion-title">Discussion Board</h5>
        {% for author, comment in comments %}
        <div class="vl"></div>
        <div class="outline discussion-board">
            <div class="d-flex align-items-center">
                <div class="flex-shrink-0">
                    <a href={{ author["web_url"] }}>
                        <img src={{ author["avatar_url"] }} class="rounded-circle">
                    </a>
                </div>
                <div class="flex-grow-1 ms-3">
                    <h5>
                        <a href={{ author["web_url"] }} class="username">
                            {{ author["name"] | safe }} @{{ author["username"] | safe }}
                        </a>
                        <small class="text-muted" style="display:flex; flex-direction: column; justifyContent: start;">
                            <i class="comment_time_stamp" value="{{ comment["created_at"] }}">• updated on {{ comment["created_at"].isoformat(' at ')[:19] }}</i>
                            <i style="float:left">• {{comment["issue_name"]}}</i>
                        </small>
                    </h5>
                    <p>{{ comment["body"] | safe }}</p class="comment">
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="comments_form">
        {{ wtf.render_form(comments_form) }}
    </div>
</div>
{% endblock page_content %}

{% block scripts %}
{{ super() }}
<script src="{{ url_for('static',filename='js/view_term.js') }}"></script>
<script src="{{ url_for('static',filename='js/sidebar.js') }}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.16.0/d3.min.js" integrity="sha512-FHsFVKQ/T1KWJDGSbrUhTJyS1ph3eRrxI228ND0EGaEp6v4a/vGwPWd3Dtd/+9cI7ccofZvl/wulICEurHN1pg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://d3js.org/d3.v6.js"></script>
<script src="{{ url_for('static',filename='js/version-graph.js') }}" type="text/javascript"></script>
{% endblock scripts %}
