{% extends "base.html" %}

{% block page_content %}
  <div id="graph-bar">
    <div class="graph-tab graph-tab-active" id="hierarchical-graph-tab">
      <p class="graph-tab-text">Hierarchical Graph</p>
    </div>
    <div class="graph-tab" id="relation-graph-tab">
      <p class="graph-tab-text">Relation Graph</p>
    </div>
  </div>
  <div class="vocab-flex">
    <div id="hierarchical-graph"
         data-tree="{{ tree_json }}"
         data-map="{{ datatypes }}">
      <div class="graph-control">
        <a class="graph-btn zoom-in-btn"><i class="bi bi-zoom-in"></i></a>
        <a class="graph-btn zoom-out-btn"><i class="bi bi-zoom-out"></i></a>
        <a class="graph-btn reset-zoom-btn"><i class="bi bi-arrow-repeat"></i></a>
      </div>
      <div class="legend" style="flex: 1;">
        <ul class="legend">
          {% for name, icon in datatypes.items() %}
            <li>
              <i class={{ icon }}></i>{{ name }}
            </li>
          {% endfor %}
        </ul>
      </div>
    </div>
    <div id="relation-graph"
         data-related="{{ related_json }}"
         data-toplevel="{{ toplevel_related_json }}"
         style="display:none">
      <div class="graph-control">
        <a class="graph-btn zoom-in-btn"><i class="bi bi-zoom-in"></i></a>
        <a class="graph-btn zoom-out-btn"><i class="bi bi-zoom-out"></i></a>
        <a class="graph-btn reset-zoom-btn"><i class="bi bi-arrow-repeat"></i></a>
        <a class="graph-btn" id="freeze_switch" onclick="freezeGraph(this)"><i class="bi bi-pin-angle"></i></a>
        <a class="btn btn-primary" href="#" id="show_only_record_level" onclick="switchToToplevelGraph();">Show All Nodes</a>
      </div>
      <div class="legend">
        <ul class="legend">
          {% for type in vocpopuli_types %}
            <li>
              <i class="bi bi-circle-fill" style="color: {{ type.color }}"></i>{{ type.name }}
            </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
{% endblock %}

{% block scripts %}
{{ super() }}
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.16.0/d3.min.js" integrity="sha512-FHsFVKQ/T1KWJDGSbrUhTJyS1ph3eRrxI228ND0EGaEp6v4a/vGwPWd3Dtd/+9cI7ccofZvl/wulICEurHN1pg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://d3js.org/d3.v6.js"></script>
<script src="{{ url_for('static',filename='js/graph.js') }}" type="text/javascript"></script>
{% endblock %}
