{% import "bootstrap5/form.html" as wtf %}
{% extends "base.html" %}
{% block page_content %}
  <style>
      td, th {
        text-align: center;
      }
  </style>
  <div class="container" >
    <h1 class="headline-metadata">Vocabulary Statistics</h1>
    <table class="table table-striped table-hover table-sticky-header">
      <thead class="">
        <tr class="metadata-table-header">
          <th class="first-column-metadata-table">Name</th>
          <th>Number of Terms</th>
          <th>Number of Top Level Terms</th>
          <th>Number of <i>Narrower Than</i> Relationships</th>
          <th>Number of <i>Related</i> Relationships</th>
          <th>Number of Custom Relationships</th>
          <th>Number of VocPopuli Types</th>
          <th>Description</th>
          <th>Domain</th>
          <th>License</th>
          <th>Institution</th>
          
        </tr>
      </thead>
      {% for item in vocabulary_stats %}
        <tr  data-toggle="tooltip" data-placement="top" title="Click to edit" onclick="window.location = '{{url_for("main.edit_vocabulary_metadata", vocabulary_id=item.id)}}'" style="cursor: pointer;">
          <td class="first-column-metadata-table">{{ item.name }}</td>
          <td>{{ item.n_terms }}</td>
          <td>{{ item.n_top_level_terms }}</td>
          <td>{{ item.n_nt_rels }}</td>
          <td>{{ item.n_related_rels }}</td>
          <td>{{ item.n_custom_rels }}</td>
          <td>{{ item.n_vp_types }}</td>

          <td style="text-align: left; min-width:200px;">{{ item.description }}</td>
          <td style="text-align: left;white-space:nowrap;">{% if item.domain %}{% for domain in item.domain %}{{ domain }}<br>{% endfor %}{% else %}{{ item.domain }}{% endif %}</td>
          <td>{{ item.license_name }}</td>
          <td>{{ item.institution }}</td>
          <!--<td><a href={{url_for("main.edit_vocabulary_metadata", vocabulary_id=item.id)}}>Edit</a></td>-->
        </tr>
      {% endfor %}
  </div>
{% endblock page_content %}
