{% extends "base.html" %}
{% block page_content %}
  <div class="container">
    <div class="d-flex align-items-center">
      <table class="table table-hover table-sticky-header">
        <thead>
          <tr>
            <th>Type Name</th>
            <th>Color</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          {% for type_ in vocpopuli_types %}
            <tr ondblclick="editVocPopuliType(this, '{{ type_["name"] }}')" class="node">
              <td>{{ type_["name"] }}</td>
              <td>{{ type_["color"] }}</td>
              <td>
                <div class="hidden-buttons">
                  <a {% if type_["instances"] == 0 %}onclick="submitForm('delete_{{ type_["name"] }}');"{% endif %}
                     class="delete-link">
                    <i style="font-size: 20px;
                              padding-left: 8px"
                       class="bi bi-trash"
                       type="button"
                       data-bs-toggle="tooltip"
                       data-bs-placement="right"
                       data-bs-custom-class="custom-tooltip"
                       {% if type_["instances"] == 0 %} data-bs-title="Delete '{{ type_["name"] }}'" {% else %} data-bs-title="'{{ type_["name"] }}' can't be deleted, it has {{ type_["instances"] }} instances."{% endif %}></i></a>
                </div>
                <div hidden>
                  <form action={{ url_for(".remove_vocpopuli_type", type_name=type_["name"]) }} method="post" id="delete_{{ type_["name"] }}">
                    <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
                  </form>
                </div>
              </td>
            </tr>
          {% endfor %}
        </tbody>
        <tfoot>
          <form action={{ url_for(".vocpopuli_types") }} method="post">
            {{ create_vocpopuli_type_form.csrf_token }}
            <tr>
              <td>{{ create_vocpopuli_type_form.name(class_='form-control') }}</td>
              <td></td>
              <td>{{ create_vocpopuli_type_form.submit }}</td>
            </tr>
          </form>
        </tfoot>
      </table>
    </div>
  </div>
  <div hidden>
    <table id="form-table">
      <tr id="edit_form_row">
        <form action={{ url_for(".edit_vocpopuli_type") }} method="post">
          {{ create_vocpopuli_type_form.csrf_token }}
          <td>{{ create_vocpopuli_type_form.name(id_="edit_name", class_='form-control') }}</td>
          <td></td>
          <td>
            {{ create_vocpopuli_type_form.submit (value_="Save") }}
            <button class="btn btn-primary" id="stop_editing_button">x</button>
          </td>
          <input type="hidden" id="old_name" name="old_name">
        </input>
      </form>
    </tr>
  </table>
</div>
{% endblock page_content %}
{% block scripts %}
  {{ super() }}
  <script src="{{ url_for('static',filename='js/Sortable.js') }}"></script>
  <script src="{{ url_for('static',filename='js/types.js') }}"></script>
{% endblock scripts %}
