{% extends "base.html" %}
{% block page_content %}

<div class="logo">
    <div class="container text-center">
        <img src={{ url_for("static", filename="VocPopuli_Square.png") }} class="img-fluid" width="400" height="400">
    </div>
    <div class="gitlab-login-button-container">
        <form class="d-flex" action={{ url_for("gitlab.login") }} method="get">
            <button class="btn btn-outline-light btn-lg center" style="margin-left:5px; background-color: #0093A1;" type="submit">Login with GitLab&trade;</button>
        </form>
    </div>
</div>

{% include "index/agree_modals.html" %}

<div class="gitlab_trademark">
    <p>GITLAB is a trademark of GitLab Inc. in the United States and other countries and regions
</div>

{% endblock %}
